{% include('webshop/cart/_cart-items-widget.html.twig') %}

<div>
    <div class="col-12 col-md-6 ml-auto mt-3">
        <ul class="order-summary mb-0 list-unstyled">
            <li class="order-summary-item">
                <span>A szállítási díj a megadott adataid szerint került kiszámításra.</span>
                <span class="text-nowrap">
                    <span class="JS--summaryDeliveryFee">{{ order.currentOrder.deliveryFee|number_format(0, ',', ' ') }}</span> Ft
                </span>
            </li>
            <li class="order-summary-item border-0">
                <span>Fizentendő {# totalAmountToPay #}</span>
                <span class="JS--summaryTotalPos order-summary-total text-nowrap" data-summary-total="{{ order.summary.totalAmountToPay }}">
                    <span class="JS--summaryTotal">{{ order.summary.totalAmountToPay|number_format(0, ',', ' ') }}</span> Ft
                </span>
            </li>
        </ul>
    </div>
</div>