        <div class="d-flex align-items-start">
            <div class="cart-message">
{#                <i class="far fa-envelope-open"></i>#}
                <svg class="svg-icon"><use xlink:href="#envelope"></use></svg>
                <div class="">
                    <span class="d-block text-mutedX text-uppercase mt-1">{{ 'order.message'|trans }}</span>
                </div>
            </div>
            <div class="cart-message-title text-left">
                <p class="text-sm mb-0">
                    {% if message is defined and message is not null %}
                        <span><em>{{ message }}</em></span> <br>
                        <span>{{ messageAuthor }}</span>
                    {% else %}
                        {% include 'admin/_missing-data-insert.html.twig' %}
                    {% endif %}
                </p>
            </div>
        </div>