        <div class="cart-item text-center">
            <div>
                <h6 class="text-uppercase">A kosarad jelenleg üres</h6>
                <p class="mb-0">...de nem sokáig! Válogass a több mint 100 gyönyörű <a href="{{ path('site-product-listall') }}">csokor és virágdoboz</a> közül.</p>
            </div>
        </div>