
    <h6 class="checkout-block-title">{{ 'order.delivery-date'|trans }}</h6>

    <div class="mt-2">
        {% if order.deliveryDate is defined and order.deliveryDate is not null %}
            <div class="">{{ order.deliveryDate|date('Y M j.')|lower }}</div>
            <div class="">{{ order.deliveryInterval is defined and order.deliveryInterval ? order.deliveryInterval ~ ' óra között': '' }}</div>
        {% endif %}
    </div>

    {% if order.deliveryDate is defined and order.deliveryDate is not null %}
        <div class="">{{ order.shippingMethod.getName() }}</div>
    {% endif %}