
    <h5 class="checkout-block-title">{{ 'checkout.shipping.shipping-method'|trans }}</h5>

    {% if flowerShopMode == false %}
    <div class="mt-2">
        {% if order.deliveryDate is defined and order.deliveryDate is not null %}
            <div class="">{{ order.deliveryDate|localizedDate('Y F j')|lower }}</div>
            <div class="">{{ order.deliveryInterval is defined and order.deliveryInterval ? order.deliveryInterval : '' }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if order.shippingMethod is defined and order.shippingMethod is not null %}
        <div class="">{{ order.shippingMethod.name }}</div>
    {% endif %}