    {{ form_start(quantityForm, {'attr': {'class': "no-spinners"}}) }}
        <div class="float-md-left w-100 d-flex flex-row align-items-center">
            {{ form_widget(quantityForm.quantity, {'attr': {'class': "form-control form-control-xs no-spinners mr-3 JS--Dropdown-setItemQuantity"}}) }}
            <span class="text-muted ml-1">db</span>
        </div>
    {{ form_end(quantityForm) }}