{% block AZUZENET %}
    {% for msg in app.session.flashBag.get('sender-missing') %}
        <div class="JS--alertMessage alert alert-danger mt-3" role="alert" data-alert-message>
            <i class="fas fa-exclamation-circle mr-1 text-muted"></i>
            {{ include('webshop/cart/alert-msg.html.twig') }}
        </div>
    {% endfor %}
{% endblock %}