{% block AZUZENET %}
    {% for msg in app.session.flashBag.get('shipping-missing') %}
        <div class="JS--Wrapper-alert alert alert-danger mt-3" role="alert">
            <i class="fas fa-exclamation-circle mr-1 text-muted"></i>
            {{ include('webshop/cart/alert-msg.html.twig') }}
        </div>
    {% endfor %}
{% endblock %}