{% block AZUZENET %}
    {% for msg in app.session.flashBag.get('recipient-missing') %}
        <div class="JS--alertMessage JS--Error-recipientMissing alert alert-danger mt-4 px-3 px-md-4" role="alert" data-alert-message>
            <i class="fas fa-exclamation-circle mr-1 text-muted"></i>
            {{ include('webshop/cart/alert-msg.html.twig') }}
        </div>
    {% endfor %}
{% endblock %}