<div id="already_registered" class="alertX Xalert-warning mt-3">
    <div class="container">
        <div class="row row-wide-mobile">
            <div class="col-lg-12 col-wide-mobile">
                <div class="text-center">
                    <span class="">{{ 'checkout.already-registered'|trans({ '{{ link }}': path('site-login') })|raw }}</span>
                </div>
            </div>
        </div>
    </div>
</div>