{% if order.items is empty %}
    {% include('webshop/cart/cart-empty-widget.html.twig') %}
{% endif %}

{% for item in order.items %}
{% set ajandekUrl = '/rendeles/ajandek' %}
    {#{{  dump(app.request.pathinfo) }}#}
    <div class="cart-item {% if app.request.pathinfo == ajandekUrl %}py-2{% else %}py-1{% endif %}">
        <div class="rowX d-flex justify-content-between align-items-center">

            <!-- Item -->
            {#<div class="{% if app.request.pathinfo == '/rendeles/cimzett' %}col-11{% else %}col-9{% endif %} pr-0">#}
            <div class="flex-grow-1 col-9X pr-0">
                {% include('webshop/cart/cart-item-single-widget.html.twig') %}
            </div>

            <!-- Quantity -->
            {% if showQuantity is defined and showQuantity %}
                <div class="col-2 px-0">
                    <div class="d-flex align-items-center">
                        <div class="quantity d-flex align-items-center JS--formWrapper text-center">
                            {{ render(controller('App\\Controller\\Shop\\CartController::setItemQuantityForm', {'id' : item.id})) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- Remove button -->
            <div class="col-1 pl-0 text-center">
                <div class="loadingWrapper loadingWrapper-secondary w-100">
                    <a href="" class="JS--Button-removeItem cart-remove minicard--toolLink" data-url="{{ path('cart-removeItem', {'id': item.id, 'showQuantity': showQuantity is defined ? showQuantity : false}) }}"><i class="fas fa-times"></i></a>
                    <div class="JS--loadingOverlay d-flex align-items-stretch loading-sm"></div>
                </div>
            </div>

        </div>
    </div>
{% endfor %}