        <div class="d-flex align-items-start mb-3">
            <div class="bg-light order-summary-message toll-envelope-box">
                <i class="far fa-envelope-open"></i>
                <div class="">
                    <span class="d-block text-muted text-uppercase mt-1">{{ 'admin.orderDetail.Message'|trans }}</span>
                </div>
            </div>
            <div class="cart-title text-left">
                <p class="text-muted text-sm mb-0">
                    <span><em>{{ message }}</em></span> <br>
                    <span>{{ messageAuthor }}</span> <br>
                </p>
            </div>
        </div>