<section name="progress_bar">
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar bg-success-lighten" role="progressbar" style="width: {% if progressBar is defined and progressBar == 'checkout' %}66{% else %}33{% endif %}%" aria-valuenow="{% if progressBar is defined and progressBar == 'checkout' %}66{% else %}33{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row text-center" style="margin-top: -20px">
                    <div class="col-4 position-relative text-success-lighten ml-0">
                        {% if progressBar is defined and progressBar == 'cart' %}
                            <i class="fas fa-2x fa-sort-down"></i>
                        {% endif %}
                    </div>
                    <div class="col-4 position-relative text-success-lighten">
                        {% if progressBar is defined and progressBar == 'checkout' %}
                            <i class="fas fa-2x fa-sort-down"></i>
                        {% endif %}
                    </div>
                    <div class="col-4 text-success-lighten">
                    </div>
                </div>



                <div class="row text-center text-sm text-muted-extra">
                    <div class="col-4">
                        <span class="{% if progressBar is defined and (progressBar == 'cart' or progressBar == 'checkout') %}text-dark  {% endif %}">{% if progressBar is defined and progressBar == 'checkout' %}<a class="text-dark" href="{{ path('site-cart') }}">1. Kosár</a>{% else %}1. Kosár{% endif %}</span>
                    </div>
                    <div class="col-4">
                        <span class="{% if progressBar is defined and progressBar == 'checkout' %}text-dark {% endif %}">2. Pénztár</span>
                    </div>
                    <div class="col-4">
                        <span>3. Rendelés véglegesítése</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>