<section name="progress_bar">
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar bg-success-lighten" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row text-center" style="margin-top: -20px">
                    <div class="col-4 position-relative text-success-lighten ml-0">
                    </div>
                    <div class="col-4 position-relative text-success-lighten">
                    </div>
                    <div class="col-4 text-success-lighten">
                        <i class="fas fa-2x fa-sort-down"></i>
                    </div>
                </div>



                <div class="row text-center text-sm text-muted-extra">
                    <div class="col-4">
                        <span class="text-dark"><a class="text-dark" href="{{ path('site-cart') }}">1. Kosár</a></span>
                    </div>
                    <div class="col-4">
                        <span class="text-dark"><a class="text-dark" href="{{ path('site-checkout') }}">2. Pénztár</a></span>
                    </div>
                    <div class="col-4">
                        <span class="text-dark">3. Sikeres rendelés</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>