{% extends 'admin/base_admin.html.twig' %}

{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block page_content %}

	<div class="col-lg-3"></div>

	<div class="col-lg-6">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
			<h2>{{ title }}</h2>
			<!--small class="form-text text-muted">
                Itt tudsz felvinni új számlát vagy egy költséget.
            </small-->
		</div>

        {% block AZUZENET %}
            {% for msg in app.session.flashBag.get('success') %}
				<div class="alert alert-success" role="alert">	{{ msg }} </div>
            {% endfor %}
        {% endblock %}
		<p> </p>

        {{ include('/admin/inventory/_product_form.html.twig') }}
	</div>
	<div class="col-lg-3"></div>

{% endblock %}

