    <span class="h5 admin-card-title">{{ 'order.cart-products'|trans }}</span>

    <div name="products_in_basket" class="bg-white mt-2">
        <div class="">
            <div class="row d-flex align-items-center">
                <div class="col-12">

                    {% for item in order.items %}
                        {% include 'admin/order/_order-item-single-widget.html.twig' %}
                    {% endfor %}

                    <div class="cart-item">
                        <div class="row d-flex align-items-center text-center">
                            <div class="col-12">
                                {% include 'webshop/cart/_cart-message-widget.html.twig' with {'message': order.message, 'messageAuthor':  order.messageAuthor} %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>