{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    <div class="alert alert-danger text-center fade show mb-0 rounded-0" role="alert">
        <strong>FIGYELEM! </strong> Éppen egy másik felhasználóként használod az oldalt! <strong>Felhasználó:</strong> <em>{{ app.user.getFullname() }} ({{ app.user.email }})</em>
        <a href="{{ path('dashboard', {'_switch_user': '_exit'}) }}" class="btn btn-warning ml-2">Visszaállítás</a>
    </div>
{% endif %}