<a href="{{ path('homepage') }}" class="{{ isShownAtCheckout is defined and isShownAtCheckout ? 'navbar-brand' : '' }}">
    {% if storeLogo is defined and storeLogo %}
        <img src="{{ storeLogo }}" class="store-logo" width="162" height="50">
    {% else %}
        <span class="h4 font-weight-bold text-uppercase">{{ storeName is defined and storeName ? storeName : 'Store name' }}</span>
    {% endif %}
</a>