    {{ form_start(form, { 'attr': {'class': 'JS--Button-deleteItem' }}) }}
        <div class="text-center">
            {#<button type="submit" class="JS--Button-deleteItem cart-remove btn-link"><i class="delete fa fa-times"></i></button>#}
        </div>
    {{ form_end(form) }}