    {{ form_start(quantityForm, {'attr': {'class': "form-control-sm no-spinners"}}) }}
        <div class="float-md-left">
            {{ form_widget(quantityForm.quantity, {'attr': {'class': "form-control-sm no-spinners p-0 JS--Dropdown-setItemQuantity"}}) }}
        </div>
    {{ form_end(quantityForm) }}