{% extends 'webshop/site/base_site.html.twig' %}

{% block title %}
	Rólunk | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}

	<section class="hero">
		<div class="container">
			<!-- Breadcrumbs -->
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
				<li class="breadcrumb-item active">Rólunk</li>
			</ol>
			<!-- Hero Content-->
			<div class="hero-content pb-5 text-center">
				<h1 class="mb-0">Rólunk</h1>
			</div>
		</div>
	</section>

	<section class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto">
					<p class="lead mb-5">
						Miért virágküldés? Az örömért. Az örömért amit érzünk amikor kapunk, de talán leginkább azért az örömért amit abban lelünk, hogy megajándekozhatunk valakit, netán mosolyt csalhatunk szeretteink arcára. Hiszünk abban, hogy virágajándékozás az örömszerzésről szól, a meglepetés erejéről, a mosolyról amit szeretteinktől visszakapunk.
					</p>
					<div class="text-content text-lg">

						<!--h3>Miért virágküldés?</-h3>

						<p>Az örömért. Az örömért amit érzünk amikor kapunk, de talán leginkább azért az örömért amit abban lelünk, hogy megajándekozhatunk valakit, netán mosolyt csalhatunk szeretteink arcára. Hiszünk abban, hogy virágajándékozás az örömszerzésről szól, a meglepetés erejéről, a mosolyról amit szeretteinktől visszakapunk.
						</p-->

						<p>A virágkötészet, illetve a virágdekoráció a DIFIORI csapata számára több mint egy szakma. Valójában egy lehetőség arra, hogy kicsit derüsebbé tegyük az emberek mindennapjait. Ezért vágtunk bele saját virágválalkozásba. Ezért inditottuk el online virágküldő szolgálatunkat, mert tudjuk, hogy a mai rohanó világban menyire fontos a gyors, kényelmes, interneten is lebonyolítható virágküldés. &nbsp;
						</p>

						<div class="row">
							<div class="col-md-4 col-sm-6 col-6">
								<p>
									<img alt="" class="img-fluid center-block  img-100" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Kepgaleria/difiori-viragszalon-uzlet-belso.jpg?v=null.1510219410">
								</p>
							</div>

							<div class="col-md-4 col-sm-6 col-6">
								<p>
									<img alt="" class="img-fluid center-block  img-100" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Kepgaleria/difiori-viragszalon-uzlet-kulso-osz.jpg?v=null.1510219410">
								</p>
							</div>

							<div class="col-md-4 col-sm-6 col-6">
								<p>
									<img alt="" class="img-fluid center-block  img-100" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Kepgaleria/difiori-viragszalon-karacsony.jpg?v=null.1510219410">
								</p>
							</div>

							<div class="col-md-4 col-sm-6 col-6 d-md-none">
								<p>
									<img alt="" class="img-fluid center-block  img-100" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Kepgaleria/difiori-viragszalon-uzlet-belso-2.jpg?v=null.1510219410">
								</p>
							</div>
						</div>

						<h2>'Szerezz örömet virággal!'</h2>
                        <p class="font-weight-bold"><em>Több egy egyszerű szlogennél...</em></p>

						<p>Ugye veled is előfordult már, hogy eszedbe jutott egy kedves ismerős? Vagy amikor munkaidőben csak a szerelmedre tudtál gondolni, netán hálát éréztél valaki iránt de éppen nem tudtad miképpen mutathatod ki az illető felé? Ezek mind gyönyörűszép emberi érzések. A Difiorival olyan szolgáltatást álmodtunk meg, ami révén könyedén kifejezheted ezen érzéseidet, szeretteid tudtukra adhatod, hogy gondolsz rájuk és menyire fontosak neked. &nbsp;
						</p>

						<blockquote>A DIFIORI célja, hogy színvonalas virágrendelés és virágküldés szolgáltatást nyújtson. Legyen szó születésnapról, évfordulóról, névnapról, vagy, ha csak egyszerüen meglepetést szeretnél szerezni, online virágboltunkban számtalan alkalomhoz illő gyönyörű virágdobozt, csokrot fogsz találni.
						</blockquote>
						<p>Célunk, hogy minden egyes rendelésnél időben kézbesítsük a megrendelt virágcsokrokat, hogy neked már csak a 'Köszönömöt' kelljen csak bezsebelni a megajándékozott személytől.</p>

						<h2>Csapatunkról</h2>

						<p>Csapatunk sok éves tapasztalattal rendelkezik a virágkötészet, esküvő és dekoráció terén. Minden egyes munkával arra törekszünk, hogy a lehető legjobbat nyújtsuk kedves vásárlóinknak és megrendelőinknek.&nbsp;</p>
							<blockquote>Legyen szó egy csokorról, virágdekorációról, vagy akár egy esküvőről csapatunk nem ismer lehetetlent!</blockquote>


						<p>Ugyanakkor, fontos számunkra a magas szakmai színvonal, hogy megrendelőink a DIFIORI segítségével a távolból tudjanak meglepetést szerezni, virágot és egyben örömet ajándékozni, felköszönteni kedvesüket, rokonaikat, barátaikat, munkatársaikat, ismerőseiket. Ezért a lehető legnagyobb gondossággal állítunk össze minden egyes csokrot.
						</p>

						<p>Webáruházunkból ezen csokrainkat, virágkompozicióinkat most könyedén, csupán nehány&nbsp;kattintással megrendelheted. Mi gondoskodunk a kiszállításról, hogy a megrendelt virág mihamarabb örömteli pillanatokat nyújtson a megajándékozottaknak vagy az otthonod díszévé váljon.
						</p>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 bg-light p-3 mb-4">
									<div class="row">

								<div class="col-lg-6 col-md-6 col-sm-12">

										<img alt="" class="img-fluid left-block img-rect img-100" src="https://difiorivirag.cdn.shoprenter.hu/custom/difiorivirag/image/cache/w0h0q80np1/Kepgaleria/difiori-viraguzletunk-tavaszi-dekoracio.jpg?v=null.1510219410">

								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<h4>Virágüzletünk</h4>

									<p>Difiori Virágszalon<br>
										1114 Budapest, Bartók Béla út 9<br>
										<br>
										Hetfő-Péntek: 08.00-20.00&nbsp;<br>
										Szombat: 08.00-19.00<br>
										Vasárnap: 09.00-15.00
									</p>

									<p><a class="btn btn-primary" href="https://www.google.com/maps/place/DIFIORI+Vir%C3%A1gszalon/@47.482224,19.052544,16z/data=!4m5!3m4!1s0x0:0xaf0195dc73b2de97!8m2!3d47.482224!4d19.052544?hl=en-US" target="_blank">Nézd meg térképen</a>
									</p>

									<h4>Elérhetőségeink</h4>

									<p>Telefon: 06 1 466 6286<br>
										Email: info@difiori.hu
									</p>
								</div>

									</div>
								</div>

							</div>

						<h2>Online virágrendelés</h2>

						<p>A nap 24 órájában tudsz webáruházunkban virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük.
						</p>



					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
