{% block AZUZENET %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success mt-3" role="alert">	{{ msg }} </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('warning') %}
        <div class="alert alert-warning mt-3" role="alert">	{{ msg }} </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger mt-3" role="alert">	{{ msg }} </div>
    {% endfor %}
{% endblock %}