<section name="alert_message_bar">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-12">
                {{ include('webshop/site/alert-insert.html.twig') }}
            </div>
        </div>
    </div>
</section>