<div id="JS--slideCheckout" class="slide-checkout">

    <!-- Title / Close button  -->
    <div class="checkout-block-header px-2 px-md-3 mt-3">
        <div id="JS--checkoutClose">
            <button type="button" class="close modal-close">
                <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
                    <use xlink:href="#close-1"> </use>
                </svg>
            </button>
        </div>
        <h4 class="checkout--sidebar-title">Kosár tartalma</h4>
    </div>

    <!-- Items -->
    <div class="slide-checkout__wrapper px-2 px-md-3">
        <div id="dvBasketItemsContainer" class="slide-checkout__basket-container mt-3">
            {% if order.items is empty %}
                {% include('webshop/cart/_cart-empty-widget.html.twig') %}
            {% endif %}

            {% if order.items is defined %}
                {% for item in order.items %}
                    <div class="cart-item">
                        {% include('webshop/cart/_cart-item-single-widget.html.twig') %}
                    </div>
                {% endfor %}

                <div class="navbar-cart-total">
                    <span class="text-uppercase text-muted">Összesen</span>
                    <strong class="text-uppercase">{{  order.summary.totalAmountToPay|money }}</strong>
                </div>
            {% endif %}

        </div>
    </div>

    <!-- Fizetes button -->
    <div class="slide-checkout__payment px-2 px-md-3">
        <div class="row">
            <div class="col-lg-12 mb-4 mx-2">
            {#<ul class="list-inline">#}
                {#<li class="list-inline-itemX flex-row d-flex">#}
                    <a href="{{ path('site-checkout-step1-pickExtraGift') }}" class="JS--Button-gotoCheckout btn btn-warning mb-1 w-100">
                        <svg class="svg-icon addtocartX">
                            <use xlink:href="#cart-1"> </use>
                        </svg>
                        Fizetés
                    </a>
                    <div class="JS--loadingOverlay d-flex align-items-stretch"></div>
                {#</li>#}
            {#</ul>#}
            </div>
        </div>

        <div class="mb-3">
            <div class="card-body bg-warning-lightenX text-center p-0 px-2">
                <a href="{{ path('site-checkout-step1-pickExtraGift') }}" class="mt-0 mb-3 d-block text-sm text--toolLinkX">Kosár módosítása</a>
                <img alt="" class="img-fluid h-15px left-block mb-2 mr-4" src="http://www.stulipan.dfr/uploads/images/icons/CIB_logo.png">
                <img alt="" class="img-fluid h-15px left-block mb-2" src="http://www.stulipan.dfr/uploads/images/termekek/paypal.png">
            </div>
        </div>
    </div>
</div>