{% extends 'webshop/site/base_site.html.twig' %}

{% block title %}
    Sikeres rendelés | {{ parent() }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('webshop/site/checkout.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_content %}

    <section name="progress_bar">
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-lg-12">
                        <div class="row text-center">
                            <div class="col-4 text-muted">
                                <p class="text-primary font-weight-bold">1. Kosár</p>
                            </div>
                            <div class="col-4 text-muted">
                                <p class="text-primary font-weight-bold">2. Pénztár</p>
                            </div>
                            <div class="col-4 text-muted">
                                <p class="text-primary font-weight-bold">3. Rendelés véglegesítése</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-4 text-muted">
                            </div>
                            <div class="col-4 text-muted">
                            </div>
                            <div class="col-4 text-muted" style="margin-bottom: -22px">
                                <i class="fas fa-2x fa-sort-up text-primary"></i>
                            </div>
                        </div>
                        <div class="progress rounded">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero">
        <div class="container pt-3">

            <!-- Hero Content-->
            <div class="hero-content pb-5 mt-5 text-center">
                <h1 class="hero-heading">Sikeres rendelés</h1>
            </div>
        </div>
    </section>

    <section class="pb-5">
        <div class="container text-center">
            <div class="icon-rounded bg-success mb-3 mx-auto text-white">
                <svg class="svg-icon w-2rem h-2rem align-middle">
                    <use xlink:href="#checkmark-1"> </use>
                </svg>
            </div>
            <h4 class="mb-3 ff-base">Köszönjük, Julie. A rendelést sikeresen leadtad.</h4>
            <p class="text-muted mb-5">A rendelést rögzítettük, feldolgozását megkezdtük. A rendelés teljesítéséről emailen fogunk tájékoztatni. </p>
            <p> <a href="customer-order.html" class="btn btn-outline-dark">Rendelés megtekintése</a></p>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
