<span class="font-weight-bold my-0">{{ name }}</span><br>
<span class="price--gross text-nowrap">{{ price ? price|money : '' }}</span>
{#<span class="price--gross text-nowrap">{{ price.grossPrice ? price.grossPrice|number_format(0, ',', ' ') : '' }} Ft</span>#}