    <li class="nav-item"><a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item"><a href="{{ path('site-product-listall') }}" class="nav-link">Virágok</a>
    </li>
    <li class="nav-item dropdown position-static"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Template</a>
        <div class="dropdown-menu megamenu py-lg-0">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row p-3 pr-lg-0 pl-lg-5 pt-lg-5">
                        <div class="col-lg-3">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Homepage1</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="index.html" class="megamenu-list-link">Fullscreen home + Lookbook   </a></li>
                                <li class="megamenu-list-item"><a href="index2.html" class="megamenu-list-link">Split-screen home   </a></li>
                                <li class="megamenu-list-item"><a href="index3.html" class="megamenu-list-link">Classic home   </a></li>
                                <li class="megamenu-list-item"><a href="index4.html" class="megamenu-list-link">Parallax sections  <span class="badge badge-info ml-1">New</span>   </a></li>
                            </ul>
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Shop</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="category.html" class="megamenu-list-link">Category - left sidebar   </a></li>
                                <li class="megamenu-list-item"><a href="category-right.html" class="megamenu-list-link">Category - right sidebar   </a></li>
                                <li class="megamenu-list-item"><a href="category-no-sidebar.html" class="megamenu-list-link">Category - no sidebar   </a></li>
                                <li class="megamenu-list-item"><a href="category-full.html" class="megamenu-list-link">Category - full width   </a></li>
                                <li class="megamenu-list-item"><a href="category-masonry.html" class="megamenu-list-link">Category - masonry items   </a></li>
                                <li class="megamenu-list-item"><a href="category-banner.html" class="megamenu-list-link">Category - w/ banner   </a></li>
                                <li class="megamenu-list-item"><a href="detail.html" class="megamenu-list-link">Product detail   </a></li>
                                <li class="megamenu-list-item"><a href="detail-2.html" class="megamenu-list-link">Product detail - v.2   </a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Order process</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="cart.html" class="megamenu-list-link">Shopping cart   </a></li>
                                <li class="megamenu-list-item"><a href="checkout1.html" class="megamenu-list-link">Checkout 1 - Address   </a></li>
                                <li class="megamenu-list-item"><a href="checkout2.html" class="megamenu-list-link">Checkout 2 - Delivery   </a></li>
                                <li class="megamenu-list-item"><a href="checkout3.html" class="megamenu-list-link">Checkout 3 - Payment   </a></li>
                                <li class="megamenu-list-item"><a href="checkout4.html" class="megamenu-list-link">Checkout 4 - Review     </a></li>
                                <li class="megamenu-list-item"><a href="checkout5.html" class="megamenu-list-link">Checkout 5 - Confirmation   </a></li>
                            </ul>
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Blog</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="blog.html" class="megamenu-list-link">Blog   </a></li>
                                <li class="megamenu-list-item"><a href="post.html" class="megamenu-list-link">Post   </a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Pages</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="contact.html" class="megamenu-list-link">Contact   </a></li>
                                <li class="megamenu-list-item"><a href="contact-2.html" class="megamenu-list-link">Contact v.2   </a></li>
                                <li class="megamenu-list-item"><a href="text.html" class="megamenu-list-link">Text page   </a></li>
                                <li class="megamenu-list-item"><a href="faq.html" class="megamenu-list-link">F.A.Q.s  <span class="badge badge-info ml-1">New</span>   </a></li>
                                <li class="megamenu-list-item"><a href="coming-soon.html" class="megamenu-list-link">Coming soon   </a></li>
                            </ul>
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Customer</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="customer-login.html" class="megamenu-list-link">Login/sign up   </a></li>
                                <li class="megamenu-list-item"><a href="customer-orders.html" class="megamenu-list-link">Orders   </a></li>
                                <li class="megamenu-list-item"><a href="customer-order.html" class="megamenu-list-link">Order detail   </a></li>
                                <li class="megamenu-list-item"><a href="customer-addresses.html" class="megamenu-list-link">Addresses   </a></li>
                                <li class="megamenu-list-item"><a href="customer-account.html" class="megamenu-list-link">Profile   </a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Documentation</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="docs-introduction.html" class="megamenu-list-link">Introduction   </a></li>
                                <li class="megamenu-list-item"><a href="docs-directory-structure.html" class="megamenu-list-link">Directory structure   </a></li>
                                <li class="megamenu-list-item"><a href="docs-gulp.html" class="megamenu-list-link">Gulp   </a></li>
                                <li class="megamenu-list-item"><a href="docs-customizing-css.html" class="megamenu-list-link">Customizing CSS   </a></li>
                                <li class="megamenu-list-item"><a href="docs-credits.html" class="megamenu-list-link">Credits   </a></li>
                                <li class="megamenu-list-item"><a href="docs-changelog.html" class="megamenu-list-link">Changelog   </a></li>
                            </ul>
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Components</h6>
                            <ul class="megamenu-list list-unstyled">
                                <li class="megamenu-list-item"><a href="components-bootstrap.html" class="megamenu-list-link">Bootstrap   </a></li>
                                <li class="megamenu-list-item"><a href="components-sell.html" class="megamenu-list-link">Theme   </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row megamenu-services d-none d-lg-flex">
                        <div class="col-xl-3 col-lg-6 d-flex">
                            <div class="megamenu-services-item">
                                <svg class="svg-icon megamenu-services-icon">
                                    <use xlink:href="#delivery-time-1"> </use>
                                </svg>
                                <div>
                                    <h6 class="text-uppercase">Free shipping &amp; return</h6>
                                    <p class="mb-0 text-muted text-sm">Free Shipping over $300</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 d-flex">
                            <div class="megamenu-services-item">
                                <svg class="svg-icon megamenu-services-icon">
                                    <use xlink:href="#money-1"> </use>
                                </svg>
                                <div>
                                    <h6 class="text-uppercase">Money back guarantee</h6>
                                    <p class="mb-0 text-muted text-sm">30 Days Money Back</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 d-flex">
                            <div class="megamenu-services-item">
                                <svg class="svg-icon megamenu-services-icon">
                                    <use xlink:href="#customer-support-1"> </use>
                                </svg>
                                <div>
                                    <h6 class="text-uppercase">020-800-456-747</h6>
                                    <p class="mb-0 text-muted text-sm">24/7 Available Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 d-flex">
                            <div class="megamenu-services-item">
                                <svg class="svg-icon megamenu-services-icon">
                                    <use xlink:href="#secure-payment-1"> </use>
                                </svg>
                                <div>
                                    <h6 class="text-uppercase">Secure Payment</h6>
                                    <p class="mb-0 text-muted text-sm">Secure Payment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-0/img/megamenu.jpg" alt="" class="bg-image"></div>
            </div>
        </div>
    </li>
    <div class="nav-item dropdown">
        <a id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link">Webshop</a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-left mt-0">

                    {{ render(controller('App\\Controller\\Shop\\CartUtilsController::listProductCategoriesInMenu')) }}

        </div>
    </div>
    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a>
    </li>
    <li class="nav-item"><a href="{{ path('about') }}" class="nav-link ">Rólunk</a>
    </li>