<a href="/hu" class="dropdown-item text-smX">
    <img src="{{ asset('/webshop/site/flags/4x3/hu.svg') }}" alt="magyar" class="topbar-flag">Magyar
</a>
<a href="/en" class="dropdown-item text-sXm">
    <img src="{{ asset('/webshop/site/flags/4x3/gb.svg') }}" alt="english" class="topbar-flag">English
</a>