    <a href="#" role="button" data-toggle="sidebar" data-target="#JS--Sidebar-Cart" class="navbar-link navbar-badge dropdown-toggle arrow-none">
        <div class="position-relative">
            <svg class="icon">
                <use xlink:href="#bag"> </use>
            </svg>
            <div class="JS--Badge-itemsCount navbar-badge {% if order.itemsCount is defined and order.itemsCount > 0 %}show{% endif %}" data-section-id="cartBadge-template" data-section-type="cartBadge-template" data-items-count="{% if order.itemsCount is defined %}{{ order.itemsCount }}{% endif %}">
                {% if order.itemsCount is defined %}
                    {{  order.itemsCount }}
                {% else %}
                    0
                {% endif %}
            </div>
        </div>
        <span class="navbar-text">{{ 'navbar.cart'|trans }}</span>
    </a>