    <a href="#" role="button" data-toggle="sidebar" data-target="#JS--Sidebar-Cart" class="login-cart-link login-cart-badge dropdown-toggle">
        <div class="position-relative">
            <svg class="icon">
                <use xlink:href="#bag"> </use>
            </svg>
            <div class="JS--Badge-itemsCount login-cart-badge {% if order.itemsCount is defined and order.itemsCount > 0 %}show{% endif %}" data-section-id="cartBadge-template" data-section-type="cartBadge-template" data-items-count="{% if order.itemsCount is defined %}{{ order.itemsCount }}{% endif %}">
                {% if order.itemsCount is defined %}
                    {{  order.itemsCount }}
                {% else %}
                    0
                {% endif %}
            </div>
        </div>
        <span class="login-cart-text d-none d-lg-inline ml-1 ml-lg-2">{{ 'navbar.cart'|trans }}</span>
    </a>