{% extends 'webshop/site/template-general.html.twig' %}

{% set pageTitle = page.name %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-page-show', { 'slug': page.slug }),
        'text': page.name,
    },
} %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xl-7 col-md-8 col-sm-11 mx-auto">
            <div class="cms-page-title">
                <h1>{{ page.name }}</h1>
            </div>
            <div class="cms-page-body pb-5">
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}


{% block footerHighlights %}
{% endblock %}

