{% extends 'webshop/site/template-general.html.twig' %}

{% set pageTitle = 'Szállítási információk' %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-product-list', { 'slug': 'csokrok' }),
        'text': 'Csokrok',
    },
} %}

{% block content %}
    <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="hero-content pb-5 text-center">
                <h1 class="mb-0">Szállítási díjak</h1>
            </div>
            <p class="lead mb-5">
                Házhozszállítást csak Budapesten és vonzáskörzetébe tartozó településeken tudunk vállalni.
            </p>
            <div class="text-content text-lg">

                <!--h3>Miért virágküldés?</-h3>

                <p>Az örömért. Az örömért amit érzünk amikor kapunk, de talán leginkább azért az örömért amit abban lelünk, hogy megajándekozhatunk valakit, netán mosolyt csalhatunk szeretteink arcára. Hiszünk abban, hogy virágajándékozás az örömszerzésről szól, a meglepetés erejéről, a mosolyról amit szeretteinktől visszakapunk.
                </p-->

                <p>A nap 24 órájában tudsz webáruházunkban virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük. A szállítás idejét nincs módunkban percre pontosan teljesíteni. Az általad meghatározott kézbesítési időponttól fél órás eltérés lehetséges. &nbsp;
                </p>

                <p>Ha sürgősen küldenél virágot, rendeld meg a virágot délután 14.00 óráig és még aznap kiszállítjuk. Előfordulhat, hogy egy adott virág épp nincs készleten, így azt stílusában, formájában és méretében hasonló virággal pótoljuk.
                </p>

                <p>A teljes szállítási díj* listánk itt található:
                </p>

                <table class="table table-bordered mb-4" style="width: 100%; max-width: 760px;">
                    <thead>
                    <tr>
                        <th scope="col">Hova</th>
                        <th scope="col">Szállítási díj</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Budapestre
                        </td>
                        <td><span style="line-height: 20.8px;">&nbsp;INGYENES !!!</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Budapest vonzáskörzetébe tartozó településekre
                        </td>
                        <td>4.000 Ft&nbsp;
                        </td>
                    </tr><!--tr class="info">
                                <td>Magyaroszág egész területére
                                </td>
                                <td>Adventi termékeinket MPL futárszolgálat Magyarország egész területére szállítjuk. Szállítási díj: 2.200 Ft.
                                </td>
                            </tr-->
                    </tbody>
                </table>


                <p><em>*A szállitási díjak kizárólag a webshop kinálatában szereplő csokrokra és virágdobozokra, illetve a weben vagy telefonon leadott rendelésekre érvényesek.
                    </em>
                </p>

                <p>Amennyiben kérdéseid vannak a szállítással kapcsolatban, kérjük lépj kapcsolatba velünk:<br>
                    Telefon: 06 1 466 6286<br>
                    Email: info@difiori.hu
                </p>

                <p>A szállításról további tájékoztatást az <a href="/aszf" title="Általános vásárlási feltételek">Általános szerződési feltételekben</a> találsz.
                </p>





            </div>
        </div>
    </div>
{% endblock %}


{% block page_content1 %}

	<section class="hero">
		<div class="container">
			<!-- Breadcrumbs -->
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
				<li class="breadcrumb-item active">Szállítási díjak</li>
			</ol>
			<!-- Hero Content-->
			<div class="hero-content pb-5 text-center">
				<h1 class="mb-0">Szállítási díjak</h1>
			</div>
		</div>
	</section>

	<section class="pb-5">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-10 mx-auto">
					<p class="lead mb-5">
                        Házhozszállítást csak Budapesten és vonzáskörzetébe tartozó településeken tudunk vállalni.
					</p>
					<div class="text-content text-lg">

						<!--h3>Miért virágküldés?</-h3>

						<p>Az örömért. Az örömért amit érzünk amikor kapunk, de talán leginkább azért az örömért amit abban lelünk, hogy megajándekozhatunk valakit, netán mosolyt csalhatunk szeretteink arcára. Hiszünk abban, hogy virágajándékozás az örömszerzésről szól, a meglepetés erejéről, a mosolyról amit szeretteinktől visszakapunk.
						</p-->

						<p>A nap 24 órájában tudsz webáruházunkban virágot rendelni. A kézbesítést a kivánt időpontra teljesítjük. A szállítás idejét nincs módunkban percre pontosan teljesíteni. Az általad meghatározott kézbesítési időponttól fél órás eltérés lehetséges. &nbsp;
						</p>

                        <p>Ha sürgősen küldenél virágot, rendeld meg a virágot délután 14.00 óráig és még aznap kiszállítjuk. Előfordulhat, hogy egy adott virág épp nincs készleten, így azt stílusában, formájában és méretében hasonló virággal pótoljuk.
                        </p>

                        <p>A teljes szállítási díj* listánk itt található:
                        </p>

                        <table class="table table-bordered mb-4" style="width: 100%; max-width: 760px;">
                            <thead>
                            <tr>
                                <th scope="col">Hova</th>
                                <th scope="col">Szállítási díj</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Budapestre
                                </td>
                                <td><span style="line-height: 20.8px;">&nbsp;INGYENES !!!</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Budapest vonzáskörzetébe tartozó településekre
                                </td>
                                <td>4.000 Ft&nbsp;
                                </td>
                            </tr><!--tr class="info">
                                <td>Magyaroszág egész területére
                                </td>
                                <td>Adventi termékeinket MPL futárszolgálat Magyarország egész területére szállítjuk. Szállítási díj: 2.200 Ft.
                                </td>
                            </tr-->
                            </tbody>
                        </table>


						<p><em>*A szállitási díjak kizárólag a webshop kinálatában szereplő csokrokra és virágdobozokra, illetve a weben vagy telefonon leadott rendelésekre érvényesek.
                            </em>
                        </p>

						<p>Amennyiben kérdéseid vannak a szállítással kapcsolatban, kérjük lépj kapcsolatba velünk:<br>
                            Telefon: 06 1 466 6286<br>
                            Email: info@difiori.hu
                        </p>

                        <p>A szállításról további tájékoztatást az <a href="/aszf" title="Általános vásárlási feltételek">Általános szerződési feltételekben</a> találsz.
                        </p>





					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

