{% extends 'webshop/site/base-site.html.twig' %}

{% block bodyClass %}my-account reset-password{% endblock %}

{% set pageTitle = 'registration.forgot-password.forgot-your-password-title'|trans %}

{% block underNavbar %}
{% endblock %}

{% block page_content %}
    <div id="user_forgotten_password">
        <div class="container my-3 my-lg-4">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    {% block resetPassword %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerHighlights %}
{% endblock %}