{% extends 'webshop/site/template-account.html.twig' %}

{% set pageTitle = 'account.my-account'|trans %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-user-myAccount'),
        'text': 'account.my-account'|trans
    },
} %}

{% block bodyClass %} {{ parent() }} my-account-show-sidebar{% endblock %}

{% block content %}
    <div class="d-none d-md-flex card mb-20px">
        <div class="">
            <div class="card-body">
                <div class="card-title h3">{{ 'account.last-orders'|trans }}</div>
                <div class="previous-orders list-group">
                    {% if customer.ordersPlaced is defined and customer.ordersPlaced is not empty %}
                        {% for order in customer.ordersPlaced|slice(0,1) %}
                            {% include('webshop/site/user-myOrders-list-widget.html.twig') %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-4">
                    <a href="{{ path('site-user-myOrders') }}" class="btn btn-secondary w-100"><svg class="svg-icon svg-icon-heavy"><use xlink:href="#retail-bag-2"></use></svg>Összes rendelésed</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}