{% extends 'webshop/site/template-account.html.twig' %}

{% set pageTitle = 'account.my-orders'|trans %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-user-myAccount'),
        'text': 'account.my-account'|trans
    },
    2: {
        'url': path('site-user-myOrders'),
        'text': 'account.my-orders'|trans,
    },
} %}

{% block content %}
    <div class="card">
        <div class="">
            <div class="card-body">
                <div class="card-title h4 mb-0">Előző rendeléseid</div>
            </div>
        </div>
    </div>
                <div class="previous-orders list-group">
                    {% if orders is defined and orders is not empty %}
                        {% for order in orders %}
                        <div class="card mt-20px">
                            <div class="card-body">
                            {% include('webshop/site/user-myOrders-list-widget.html.twig') %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="pagerfanta mt-3">
                    {% if paginator is defined and paginator is not empty %}
                        {{ pagerfanta(paginator, 'twitter_bootstrap4') }}
                    {% endif %}
                </div>
{% endblock %}
