{% extends 'webshop/site/template-account.html.twig' %}

{% set pageTitle = 'account.account-information'|trans %}
{% set breadcrumb = {
    0: {
        'url': path('homepage'),
        'text': 'generic.home'|trans,
    },
    1: {
        'url': path('site-user-myAccount'),
        'text': 'account.my-account'|trans
    },
    2: {
        'url': path('site-user-myDetails'),
        'text': 'account.account-information'|trans,
    },
} %}

{% block content %}
    <div class="card mb-20px">
        <div class="card-wrapper">
            <div class="card-body">
                <div class="card-title h4">Adataim</div>
                <div class="">
                    {{ form_start(customerForm, { 'attr': {'class': 'JS--messageAndCustomerForm' }}) }}
                    {% include('webshop/cart/user-basicDetails-form.html.twig') %}
                    {# Render CSRF token etc .#}
                    <div style="display:none">
                        {{ form_rest(customerForm) }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Módosítások mentése">
                    {{ form_end(customerForm) }}
                    {% do customerForm.setRendered() %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
