<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% if breadcrumb is defined and breadcrumb is not empty %}
        {% for item in breadcrumb %}
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ item.url }}" class="btn btn-link-secondary">{{ item.text }}</a>
            </li>
        {% endfor %}
    {% endif %}
    </ol>
</nav>