{% extends 'admin/base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_content %}

    {% block modal %}
    {% endblock %}

    <div class="row">
        <div class="col-lg-11 mx-auto">
            {% block header %}
                <div class="row mt-3">
                    <div class="col-lg-12 mb-2">
                        {% include 'admin/template-widget-breadcrumb.html.twig' %}
                    </div>
                    <div class="col-lg-12">
                        <div class="pb-2">
                            <div class="page-title h1 d-inline mr-md-2 mr-1">{% block headerTitle %}{{ pageTitle }}{% endblock %}</div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <div class="row">
                <div class="col-sm-12 mb-3">
                    {% block headerMoreActions %}
                    {% endblock %}
                </div>
            </div>

            <div class="row row-5">
                <div class="col-md-8 px-0 px-md-10px">
                    {% block content %}
                    {% endblock %}
                </div>
                <div name="__SIDEBAR" class="col-md-4 px-0 px-md-10px orderDetail--sidebarX">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>


        </div>
    </div>
{% endblock %}

