// Checkout general CSS styling

//
// 1. Checkout ASOS style
//

$checkout-asos-bg:                     $body-bg-secondary !default;

.checkout-page.checkout-asos {
  background-color: $checkout-asos-bg;

  & .asos-content {
    display: flex;
    flex-direction: column;

    & .asos-left {
      //padding-top: 1rem;

      @include media-breakpoint-up(lg) {
        padding-top: 0;
      }
    }
  }

  & .container {
    max-width: 600px;

    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }

  }
  //& .card .block-
  & .card .card-body .border.rounded {
    border: none !important;
    border-radius: 0 !important;
  }
  & .checkout-shipping-item,
  & .checkout-payment-item {
    //padding-right: 0;
    //padding-left: 0;
  }
}

//
// 2. Checkout SHOPIFY style
//

$checkout-shopi-container-width:        600px !default;
$checkout-shopi-left-bg:                $white !default;
$checkout-shopi-right-bg:               $body-bg-secondary !default;
$checkout-shopi-body-padding-x:         15px !default;
$checkout-shopi-body-width:             $checkout-shopi-container-width !default;

$checkout-shopi-collapse-header-bg:             $body-bg-secondary !default;
$checkout-shopi-collapse-header-border-width:   $border-width !default;
$checkout-shopi-collapse-header-border-color:   $gray-300 !default;
$checkout-shopi-collapse-body-bg:               $checkout-shopi-right-bg !default;

$checkout-border-color:                 #eee !default;
$checkout-border-width:                 3px !default;

.checkout-page.checkout-shopi {
  & .container {
    max-width: $checkout-shopi-container-width;
  }

  // Corrections
  //&:not(.thank-you-page) .card {
  & .card {
    box-shadow: none;

    @include media-breakpoint-up(sm) {
      & .card-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  // End corrections

  & .shopi-content {
    display: flex;
    flex-direction: column;

    & .shopi-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 100vh;
      justify-content: flex-start;
      background-color: $checkout-shopi-left-bg;
      border-right: none;
      //padding-top: 1rem;
      padding-right: 0;

      & .shopi-left-body {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: $checkout-shopi-body-width;
        height: 100%;
        //padding-right: 10px;
        //padding-left: 10px;
        margin-left: auto;
        margin-right: auto;

      }
    }

    & .shopi-right {
      display: none;

      & .shopi-right-body {
        width: 100%;
        max-width: $checkout-shopi-body-width;
        padding-right: $checkout-shopi-body-padding-x;
        padding-left: $checkout-shopi-body-padding-x;
        margin-right: auto;
        margin-left: auto;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;

      & .shopi-left {
        width: 54.64%;
        min-height: 100vh;
        justify-content: flex-start;
        border-right: $border-width solid $border-color;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-top: 2rem;

        & .shopi-left-body {
          max-width: 602px;
          margin-right: 0;
          padding-right: $checkout-shopi-body-padding-x;
          padding-left: $checkout-shopi-body-padding-x;
        }
      }
      & .shopi-right {
        display: flex;
        width: 45.36%;
        min-height: 100vh;
        justify-content: flex-start;
        background-color: $checkout-shopi-right-bg;

        & .shopi-right-body {
          max-width: 448px;
          margin-left: 0;
        }
      }
    }
  }
}

.cart-collapse {
  display: block;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  & .cart-collapse-header {
    background-color: $checkout-shopi-collapse-header-bg;
    border-top: $checkout-shopi-collapse-header-border-width solid $checkout-shopi-collapse-header-border-color;
    border-bottom: $checkout-shopi-collapse-header-border-width solid $checkout-shopi-collapse-header-border-color;
  }
  & .cart-collapse-title {
    text-decoration: none;
  }
  & .cart-collapse-body {
    background-color: $checkout-shopi-collapse-body-bg;

    &.show {
      border-bottom: $checkout-shopi-collapse-header-border-width solid $checkout-shopi-collapse-header-border-color;
    }
  }

  & .cart-collapse-total {
    white-space: nowrap;
    font-weight: $font-weight-bold;
  }
}

.checkout-page.checkout-asos .cart-collapse {
  & .cart-collapse-body {
    background-color: $checkout-shopi-collapse-header-bg;
  }
}


.address-title {
  font-weight: $font-weight-bold;
}
.address-details {
  color: $muted;
  font-size: $font-size-base-secondary;
}

//input, select {
//  border-radius: $border-radius;
//}



///////////////////////////////////
// Overview

.checkout-overview {
  border: $checkout-border-width solid $checkout-border-color;
  @include border-radius($border-radius);
  @include font-size($font-size-sm);
  line-height: $line-height-sm;
  color: $gray-700;

  & .checkout-overview-item {
    padding: .75rem .75rem;
    border-bottom: $border-width solid $checkout-border-color;

    &:first-of-type {
      @include border-top-right-radius($border-radius);
      @include border-top-left-radius($border-radius);
    }
    &:last-of-type {
      @include border-bottom-right-radius($border-radius);
      @include border-bottom-left-radius($border-radius);
      border-bottom: none;
    }
  }

  & .checkout-overview-item-title {
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
  }
  & .checkout-overview-item-description {
    color: $yiq-text-dark;
  }

  .checkout-overview-item-grid {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas: "label data action";
    column-gap: .75rem;
    flex-grow: 1;

    .checkout-overview-item-label {
      grid-area: label;
      align-self: flex-start;
    }
    .checkout-overview-item-data {
      grid-area: data;
      align-self: flex-start;
      word-break: break-word;
      overflow-wrap: break-word;
      text-align: left;
    }
    .checkout-overview-item-action {
      grid-area: action;
      align-self: flex-start;
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
      text-align: right;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "label action"
                            "data data";
      row-gap: .5rem;
    }
  }

}

///////////////////////////////////
// Shipping and Payment methods

.content-body-thick-border {
  //padding: .5rem;
  padding: $checkout-border-width;
  background-color: $checkout-border-color;
}

.checkout-method-selection {
  //border: $border-width solid $border-color;
  @include border-radius($border-radius);
  margin-top: map_get($spacers, 3);
}

.checkout-shipping-item,
.checkout-payment-item {
  padding: .75rem .75rem;
  border-bottom: $border-width solid $gray-300;
  background: $white;

  @include media-breakpoint-up(lg) {
    padding: 1rem 1rem;
  }

  &:first-of-type {
    @include border-top-right-radius($border-radius);
    @include border-top-left-radius($border-radius);
  }
  &:last-of-type {
    @include border-bottom-right-radius($border-radius);
    @include border-bottom-left-radius($border-radius);
    border-bottom: none;
  }
}

@include media-breakpoint-up(sm) {
  .checkout-shipping-item,
  .checkout-payment-item {
    padding: 1rem 1.25rem;
  }
}

.checkout-shipping-item-title,
.checkout-payment-item-title,
.checkout-sameas-item-title {
  font-weight: $font-weight-bold;
  color: $yiq-text-dark;
}
.checkout-shipping-item-description,
.checkout-payment-item-description {
  color: $muted;
  //font-size: $font-size-base-secondary;
}

.checkout-sender-form {
  max-height: 0;
  overflow: hidden;

  &.--active {
    padding: .75rem .75rem;
    margin-top: .25rem;
    max-height: 800px;
    transition: max-height 0.125s; // cubic-bezier(0.65, 0.05, 0.36, 1);

    @include media-breakpoint-up(lg) {
      padding: 1rem 1rem;
    }
  }
}


.checkout-shopi {
  & .order-summary {
    margin-top: 0;
  }
  & .shipping-address,
  & .customer-basic-details,
  & .shipping-method,
  & .shipping-deliveryDate,
  & .payment-method,
  & .shipping-method,
  & .billing-address,
  & .user-registration {
    margin-top: 20px;
  }
}


.checkout-asos {
  & .order-summary {
    margin-top: 1rem;
  }
  & .shipping-address,
  & .customer-basic-details,
  & .shipping-method,
  & .shipping-deliveryDate,
  & .payment-method,
  & .shipping-method,
  & .billing-address,
  & .user-registration {
    margin-top: 20px;
  }
}

.checkout-footer-list {
  border-top: 1px solid $gray-300;
  text-align: left;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

///////////////////////////////////
// Corrections

.checkout-page.checkout-asos {
  & .checkout-overview,
  & .checkout-method-selection {
    border: none;
  }
  & .checkout-overview .checkout-overview-item {
    padding: .75rem 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  &.checkout-block-title {
    font-weight: $font-weight-bold;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
  }
}

.checkout-block-text {
  color: $muted;
}

.checkout-recipient-current,
.checkout-sender-current {
  color: $label-color;
  background-color: $secondary;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  padding: .75rem;
}

.checkout-recipient-item,
.checkout-sender-item {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: $border-width solid $gray-300;
  //color: $label-color;

  &:last-of-type {
    //padding-bottom: 0;
    margin-bottom: 0;
    //border-bottom: none;
  }
}
.text-link-checkout {
  display: inline-block;
  //font-size: $font-size-base-secondary;

  &:not(:last-of-type) {
    margin-right: map_get($spacers, 3);
    margin-bottom: map_get($spacers, 2);
  }
}


//.btn-goto {
//  text-transform: initial;
//  letter-spacing: 0;
//}

.checkout-customer .svg-icon {
  --font-size: 2.5rem;
  --line-height: 2.5rem;
  opacity: .7;
}
