// CMS page content
//
// also used in modal-body



.cms-page-title {
  padding-bottom: $spacer;
  //text-align: center;

  & h1,
  & h2,
  & h3,
  & h4 {
    font-weight: $font-weight-bold;
    text-transform: none;
  }
}

.cms-page-body {
  color: var(--body-color);
  text-align: left;

  & h1,
  & h2,
  & h3,
  & h4 {
    font-weight: $font-weight-bold;
    text-transform: none;
  }

  & p,
  & blockquote,
  & ol,
  & ul,
  & li {
    margin-bottom: 1.5rem;
  }

  & p,
  & span,
  & ol,
  & ul,
  & li {
    font-size: $font-size-base * 1.125;
    line-height: 1.4;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}