// Progress bar in the Checkout pages


.cms-page-title {
  padding-bottom: $spacer;
  //text-align: center;

  & h1 {
    font-weight: $font-weight-bold;
    text-transform: none;
  }

  @include media-breakpoint-down(sm) {
    //text-align: left;

    //& h1,
    //& h2 {
    //
    //}
  }
}
.cms-page-body {
  color: $gray-800;
  padding-bottom: map_get($spacers, 5);

  & p,
  & blockquote {
    margin-bottom: 1.5rem;
  }

  & p {
    font-size: $font-size-base * 1.125;
    line-height: 1.5;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}