// Mobile menu class

.mobileMenu {
  &.sidebar.sidebar-left {
    &.sidebar-sm {
      width: 320px !important;
      left: -320px !important;
    }
    &.show {
      left: 0 !important;
    }
  }
  & .sidebar-content {
    overflow: visible;
    width: 270px;
    margin-right: auto;
  }
}


@media (min-width: 375px) {
  .mobileMenu.sidebar.sidebar-left {
    &.sidebar-sm {
      width: 350px !important;
      left: -350px !important;
    }
    &.show {
      left: 0 !important;
    }
  }

  .mobileMenu .sidebar-content {
    width: 300px;
  }
}

// Header

.mobileMenu {
  & .sidebar-header {
    height: 50px;
    border-bottom: none;

    //& .close {
    //  color: initial;
    //  position: absolute;
    //  width: 50px;
    //  height: 50px;
    //  top: 0;
    //  right: -50px;
    //  padding: 0;
    //  margin: 0;
    //  border-radius: 0;
    //}
    //& .close:hover {
    //  opacity: 1;
    //  background-color: #212b36;
    //}
  }
}

// Class for hiding sidebar header

.mobileMenu .sidebar-body.sidebar-header-none {
  margin-top: -50px;
  background-color: inherit;
}

// Corrections

.mobileMenu {
  & .navbar-nav {
    padding: 0 !important;

    & .nav-item {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      /*margin-bottom: 1rem;*/
      /*background-color: #fff;*/
      text-transform: uppercase;
      color: #343a40;
      border-bottom: 1px solid #c4cdd5;
      height: 50px;
      /*align-items: center;*/
    }
    & .nav-item .nav-link {
      padding: 0 1.25rem;
      color: #343a40 !important;
      display: flex;
      width: 100%;
      height: 50px;
      /*mikor lenyilik a dropdown, akkor a link magassaga a .nav-item erteke lesz, azaz 50px + 1px az also border miatt */
      align-items: center;
      text-decoration: none;
    }

    $mobile-menu-nav-link-hover-bg:                rgba($gray-400, .5) !default;

    & .nav-item .nav-link:hover,
    & .nav-item .nav-link:focus {
      --mobile-menu-nav-link-hover-bg: #{$mobile-menu-nav-link-hover-bg};
      color: #fff;
      outline: none;
      border-radius: 0;
      background-color: var(--mobile-menu-nav-link-hover-bg);
    }

    & .nav-item.show {
      height: auto;
    }
    & .nav-item .dropdown-menu {
      padding-top: .25rem;
      padding-bottom: .25rem;
    }
    & .nav-item .dropdown-menu.show {
      position: static;
      background-color: transparent;
      border: none;
      box-shadow: none;

      display: flex !important;
      flex-wrap: wrap;
      padding-left: 1rem;
      padding-right: 1rem;

      //display: block;
      width: 100%;
      height: auto;
      position: relative !important;
      transform: translateY(0) !important;
    }

    & .nav-item .dropdown-toggle:after {
      margin-left: auto;
    }
  }
}

.mobileMenu-backdrop.show {
  opacity: .4;
}