




@media (max-width: 991.98px) {
    .navbar-toggler {
        color: #fff;
    }
    .navbar--logo .h3 {
        font-size: 1.125rem;
        letter-spacing: 0.03rem;
        color: #ffffff !important;
    }
    .navbar--logo-checkout .h4 {
        font-size: 1.125rem;
        letter-spacing: 0.03rem;
    }
}



.top-bar {
    color: #495057;
    background: #f8f9fa;
    /*padding: 1rem;*/
    padding: 0.25rem;
    font-weight: 300
}

.top-bar .dropdown-item {
    font-weight: 300
}

.top-bar .topbar-link {
    color: #495057;
    text-decoration: none;
}

.topbar-flag,
.top-bar .topbar-flag {
    margin-right: 10px;
    height: 20px;
    /*border-radius: 50%;*/
}

.topbar-flag.topbar-flag-selected {
    margin-right: 0;
    height: 15px;
}

.top-bar .dropdown-menu {
    margin-top: 1.3rem
}

.top-bar .dropdown-toggle {
    color: inherit;
    text-decoration: none
}

.top-bar .dropdown-toggle::after {
    margin-left: 5px
}

.top-bar .dropdown-item {
    color: #495057;
    font-weight: 300
}



.navbar-icon-link .topbar-link {
    color: inherit;
}
.navbar-icon-link .topbar-link:focus {
    /*outline: none;*/
    /*background-color: $gray-300;*/
    /*border-radius: $border-radius;*/
    /*background-color: #dee2e6;*/
    /*border-radius: .25rem;*/

}

.navbar-light .navbar-icon-link,
.navbar-fixed-light.fixed-top .navbar-icon-link,
.navbar-hover-light:hover .navbar-icon-link {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-icon-link-badge,
.navbar-fixed-light.fixed-top .navbar-icon-link-badge,
.navbar-hover-light:hover .navbar-icon-link-badge {
    background: #343a40;
    color: #fff
}


.svg-icon.svg-icon-light {
    stroke-width: 2
}

.svg-icon.svg-icon-heavy {
    stroke-width: 5
}







/*.outline-none { outline: none; }*/

.selected-body:after {
    font-family: Font Awesome\ 5 Free;
    content: "\f058";
    position: absolute;
    top: -8px;
    right: -8px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    font-variant: normal;
    color: #008cde;
    text-rendering: auto;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    background-color: white;
    border-radius: 10px;
}
.selected .selected-body:after {
    opacity: 1;
}

/*.shippingMethod--card, .paymentMethod--card {*/
/*    border: 1px solid transparent;*/
/*}*/

.shippingMethod--description-muted, .paymentMethod--description-muted {
    color: #686e75;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
    /*margin-right: .5rem;*/
}

/*.myaccount-card-title {*/
/*    display: inline-block;*/
/*    font-weight: 700;*/
/*    margin-right: .5rem;*/
/*}*/
/*.myaccount-card-title:not(.card-header>) {*/
/*    display: inline-block;*/
/*}*/

/*.myaccount-card-topright {*/
/*    display: inline-block;*/
/*    margin-top: .5rem;*/
/*    !*margin-left: .5rem;*!*/
/*}*/
/*@media (min-width: 576px) {*/
/*    .myaccount-card-topright {*/
/*        float: right;*/
/*        margin-top: initial;*/
/*    }*/
/*}*/
.myaccount-card-right {
    float: right;
    display: inline-block;
    margin-top: initial;
}



.link-muted,
.link-muted:hover,
.link-muted:focus,
.link-muted:active {
    color: inherit;
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 0.07875rem;
    text-decoration: none;
    padding-bottom: 0.04rem;
}

.h-10px { max-height: 10px; }
.h-15px { max-height: 15px; }
.h-17px { max-height: 17px; }
.h-20px { max-height: 20px; }
.h-25px { max-height: 25px; }
.h-50px { max-height: 50px; }
.h-25 { max-height: 25%; }
.h-50 { max-height: 50%; }
.h-75 { max-height: 75%; }

/*.btn--spin {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*margin-top: 5px;*/
    /*padding: 0;*/
/*}*/

/*.btn--spin.loading::before {*/
    /*position: absolute;*/
    /*margin-top: -4px;*/
    /*height: 28px;*/
    /*width: 28px;*/
/*}*/
.loading-overlay {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex;
}
.loading-overlay::before {
    content: '';
    margin: auto;
    height: 24px;
    width: 24px;
    animation: rotate 1s infinite linear;
    border: 5px solid #f4f4f5;
    border-right-color: transparent;

    border-top-color: #869196 !important;
    border-left-color: #869196 !important;
    border-bottom-color: #869196 !important;
    border-right-color: transparent !important;
    border-radius: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.JS--shippingWrapper .loading-overlay,
.JS--paymentWrapper .loading-overlay {
    background-color: rgba(255, 255, 255, 0.5);
}
/*.JS--shippingWrapper .loading:before {*/
    /*!*border: 5px solid #f4f4f5;*!*/
    /*border-right-color: transparent;*/
/*}*/

/*.JS--shippingWrapper .loadingWrapper.loadingWrapper-secondary+.loading::before {*/
    /*border-top-color: #869196 !important;*/
    /*border-left-color: #869196 !important;*/
    /*border-bottom-color: #869196 !important;*/
    /*border-right-color: transparent !important;*/
/*}*/

/*.loading-lg::before {*/
/*    height: 44px !important;*/
/*    width: 44px !important;*/
/*    border-width: 6px !important;*/
/*}*/

/*.loading {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.loading::before {*/
/*    content: '';*/
/*    margin: auto;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*    animation: rotate 1s infinite linear;*/
/*    border: 5px solid #f4f4f5;*/
/*    !*border: 5px solid #515bf5;*!*/
/*    border-right-color: transparent;*/
/*    border-radius: 50%;*/
/*    right: 0;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*    display: block;*/
/*}*/

/*.loadingWrapper {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/
/*.loadingWrapper.loadingWrapper-secondary .text-faded {*/
/*    color: #869196 !important;*/
/*    color: #adb5bd !important;*/
/*}*/
/*.loadingWrapper.loadingWrapper-secondary .loading::before {*/
/*    border-top-color: #869196 !important;*/
/*    border-left-color: #869196 !important;*/
/*    border-bottom-color: #869196 !important;*/
/*    border-right-color: transparent !important;*/
/*}*/
/*.loading-sm::before {*/
/*    height: 16px !important;*/
/*    width: 16px !important;*/
/*    border-width: 3px !important;*/
/*}*/


.overlay-warning {
    background-color: #ffc108;
    opacity: .8;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

/*=====================================================*/
/*=                                                   =*/
/*=           NAVBAR                                  =*/
/*=                                                   =*/
/*=====================================================*/
.bg-menu {
    background-color: #008cde;
    /*background-color: #eee;*/
    /*border-top: 1px solid #c4cdd5;*/
    /*border-bottom: 1px solid #c4cdd5;*/
}


/* ============= Info boxes ============= */
.info--underMenu {
    color: #ffffff;
    /*background-color: ;*/
    /*text-transform: uppercase;*/
    padding: 1rem .7rem;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1rem;
}
.info--underMenu.primary {
    background-color: #876EBD;
    color: #ffffff;
}
.info--underMenu.success {
    background-color: #00aa5b;
    color: #ffffff;
}
.info--underMenu.danger {
    background-color: #dc3545;
    color: #ffffff;
}
.info--underMenu.danger-lighten {
    background-color: #FFC8C9;
    color: #343a40;
}
.info--underMenu.secondary {
    background-color: #e7e8ea;
    color: #343a40;
}
.info--underMenu.warning {
    background-color: #f9d95f;
    color: #343a40;
    font-weight: bold;
}
.info--underMenu.warning-lighten {
    background-color: #FAF1CB;
    color: #343a40;
}
.info--underMenu.info {
    background-color: #008CDE;
    color: #ffffff;
}
.info--underMenu.info-lighten {
    background-color: #ebf6fd;
    color: #343a40;
}
.info--underMenu.light {
    background-color: #f4f4f5;
    color: #343a40;
}
.info--underMenu.dark {
    background-color: #525050;
    color: #ffffff;
}
.info--underMenu-text {

}
.info--underMenu a {
    color: inherit;
    text-decoration: underline;
}

/*=====================================================*/
/*=                                                   =*/
/*=           REVIEWS                                 =*/
/*=                                                   =*/
/*=====================================================*/

.reviewbox {
    width: 100%;
    /*max-height: 200px;*/
    border-bottom: 1px solid #eee;
    margin: 0;
    padding-bottom: 1rem;
    display: block;
    position: relative;
}

.reviewbox:before {
    font-family: Georgia, serif;
    content: '\201C';
    font-size: 7.5em;
    font-weight: 700;
    opacity: .8;
    position: absolute;
    top: 4.2rem;
    left: -1.2rem;
    text-shadow: none;
    z-index: -300;
    color: #DAF3FF;
}
.reviewbox .testimonial {
    font-style: italic;
    font-family: Georgia,serif;
    line-height: 1.575rem;
}
/*=====================================================*/
/*=                                                   =*/
/*=           SLIDE CHECKOUT                          =*/
/*=                                                   =*/
/*=====================================================*/

.nav-hidden {
    overflow: hidden;
}



.bg-warning-lighten {
    background-color: #FAF1CB;
}
.bg-custom-blue {
    background-color: #83C1EC;
}
.text-gray {
    color: #495057;
}

.btn-gray {
}

.btn--pickDate {
    color: #495057 !important;
    text-transform: capitalize;
    letter-spacing: 0;
    background-color: #eee;
    border-color: #eee;
}

/*.btn--pickDate:hover {*/
    /*color: #212529;*/
    /*background-color: #f2f4f5;*/
    /*border-color: #eceff1*/
/*}*/

.border--dashed {
    border-width: 2px;
    border-style: dashed;
}

.no-spinners input::-webkit-outer-spin-button,
.no-spinners input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.cardMessage--list-group {
    border: 2px solid #c4cdd5;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.07)!important;
}

.cardMessage--list-group ul li:nth-of-type(even) {
    background-color: #f4f4f5;
}

.cardMessage--list-group .list-group-item:last-of-type,
.cardMessage--list-group .list-group-item {
    padding: .5rem .5rem;
    border-right: none;
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid transparent;
}

.cardMessage--list-group .list-group-item:first-of-type {
    border-top: none;
}

.cardMessage--list-group .customer-nav .list-group-item {
    font-size: 0.9rem;
    border-color: #e9ecef
}

.cardMessage--list-group .customer-nav .list-group-item:hover,
.cardMessage--list-group .customer-nav .list-group-item:focus {
    color: #fff;
    background: #008CDE;
    border-bottom: 1px solid #d5d5d6;
}

/* ============= Checkout ============= */


.cart--scroll {
    max-height: 16.25rem;
    overflow: hidden;
    overflow-y: auto;
}

.cart--scroll::-webkit-scrollbar {
    width: 7px;
}
.cart--scroll::-webkit-scrollbar-thumb {
    background: #d0d2d5;
    border-radius: 10px;
}

.cart--scroll::-webkit-scrollbar-track {
    background: #f4f4f5;
    border-radius: 10px;
}

.checkout--sidebar-title {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
/*.minicard {*/
/*    !*border: 2px dashed #c4cdd5;*!*/
/*    !*box-shadow: rgba(22, 29, 37, 0.05) 0px 1px 0px 0px;*!*/
/*    border-radius: 4px;*/
/*    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
/*    border-left: 6px solid #ffcf88;*/
/*    border-right: none;*/
/*    border-top: none;*/
/*    border-bottom: none;*/
/*}*/

/*.minicard.recipient {*/
/*    border-left: 6px solid #00aa5b !important;*/
/*}*/

/*.minicard--body {*/
/*    padding: 1rem;*/
/*    text-align: left;*/
/*}*/
/*.minicard.selected {*/
/*    background-color: #f4f4f4;*/
/*}*/
/*.selected .minicard--body {*/
/*    color: initial !important;*/
/*}*/
/*.minicard--title {*/
/*    !*color: #004d6e;*!*/
/*    font-weight: bold;*/
/*}*/
/*.minicard--address {*/
/*    color: #495057;*/
/*    line-height: 1.375rem;*/
/*}*/

.minicard--body a {
    font-size: .875rem;
    line-height: 1.125rem;
}

.btn-tool,
.minicard--mainLink {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-decoration: none;
    color: #212529;
    /*background-color: #ffebcc;*/
    background: linear-gradient(180deg,#ffffff,#f4f4f5);
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    text-transform: initial;
    letter-spacing: 0;
    box-shadow: rgba(22, 29, 37, 0.05) 0px 1px 0px 0px;
}
.minicard--mainLink {
    padding: .35em .5em;
}
.btn-tool:hover,
.minicard--mainLink:hover {
    color: #212529;
    text-decoration: none;
    /*background-color: #ffe0b1;*/
    background: linear-gradient(180deg,#f4f4f5,#e8e8e8);
}

.minicard--toolLink {
    color: #868e96;
}

.text--toolLink,
.minicard--toolLink {
    font-size: .7875rem;
    text-decoration: underline;
    letter-spacing: 0;
    /*text-transform: capitalize;*/
}
.text--toolLink:hover,.text--toolLink:focus,
.minicard--toolLink:hover, .minicard--toolLink:focus {
    color: #212529;
    text-decoration: underline;
}



.tile-sm {
    font-size: .875rem;
    line-height: 1.125rem;
}

/* ============= Listing page ============= */
.listing--heading h1 {
    text-transform: uppercase;
    /*letter-spacing: 0.1em;*/
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: normal;
}

.landing--grid h1 {
    font-size: 2rem;
}
.landing--grid h2 {
    font-size: 1.8rem;
}
.landing--grid h3 {
    font-size: 1.3rem;
}

@media (max-width: 991.98px) {
    .landing--grid h1,
    .listing--heading h1 {
        font-size: 1.35rem
    }
    .landing--grid h2,
    .listing--heading h2 {
        font-size: 1.1rem
    }
    .landing--grid h3,
    .listing--heading h3 {
        font-size: .9rem
    }
}
.listing--lead {
    font-size: .7875rem;
    line-height: 1rem;
    /*color: #495057;*/
}
@media (min-width:576px) {
    .listing--lead {
        font-size: 1rem;
        line-height: 1.375rem;
    }
}
.listing--countdown {
    text-align: center;
    overflow: hidden;
}
.listing--countdown:after, .listing--countdown:before {
    background-color: #ced4da;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.listing--countdown:before {
    right: .5em;
    margin-left: -50%;
}
.listing--countdown:after {
    left: .5em;
    margin-right: -50%;
}
.landing--grid {
    background-repeat: no-repeat;
    background-size: cover;
}
.landing--heading {
    /*padding: .5rem;*/
}
.landing--info {
    background-color: rgba(255,255,255,.9);
    min-height: 100%;
    border: 1px dashed #bab9b9;
}
.landing--info>div {
    padding: .5rem;
    /*border-left: 1px dashed #bab9b9;*/
    /*border-right: 1px dashed #bab9b9;*/
}
.landing--info>div {

    /*border-left: 1px dashed #64898a;*/
    /*border-right: 1px dashed #64898a;*/
    border-bottom: 1px solid #ddd;
    height: 33.333333333%;
}


.overlay--wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #f1f1f1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.overlay--bestseller {
    background: #FAF1CB;
    color: #7b6b47;
    padding: .4rem .25rem .2rem .25rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}



/* ============= Product page ============= */

.badge--unavailableProduct {
    border-radius: 0;
    letter-spacing: .2rem;
    font-style: normal;
    padding: .75rem;
    background-color: #e4e8ea;
}

.product-details h1 {
    font-size: 1.35rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: 1.65rem;
    color: #004e6e;
}
@media (min-width:576px) {
    .product-details h1 {
        font-size: 2.05rem;
        line-height: 2.5rem;
    }
}

.bg-custom-gray {
    background-color: #e4e8ea;
}

.bg-custom-yellow {
    background-color: #F3EED9;
}

.product-details .product--bullet-points {
    list-style: none;
    padding-left: 0;
}
.product-details .product--bullet-points li:before {
    font-family: Font Awesome\ 5 Free;
    /*content: "\f067";*/
    content: "\f00c";
    display: inline-block;
    font-size: .7875rem;
    line-height: 1.125rem;
    margin-right: 1rem;
    font-weight: bold;
    color: #008CDE;
}


.price--gross {
    font-weight: normal;
    color: #495057;
}
.price--shipping {
    font-weight: normal;
    color: #495057;
}

.order-delivery-date option {
    padding: .65rem 0.125rem !important;
    border-bottom: 1px solid #ccd4da;
}
.cart .productList--name {
    font-size: .75rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}
.cart .productList--price-gross {
    font-weight: bold;
    font-size: .75rem;
}
@media (min-width:576px) {
    .cart .productList--name {
        font-size: .875rem;
        line-height: 1.125rem;
        text-transform: uppercase;
    }
    .cart .productList--price-gross {
        font-size: initial;
    }
}

.svg-icon.addtocart {
    margin-right: .5rem;
}



.delivery {
    background: url(https://images.serenataassets.com/image/upload/f_auto,q_auto/v1529317223/WebContent/freedel_2018-3.png) no-repeat;
    z-index: 2;
    width: 123px;
    height: 123px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

/* ============= Fixes ============= */
@media(device-width: 768px) and (device-height: 1024px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

/* ============= Boostrap Overwrite ============= */

.initialism { display: none; }

