
/*.top-bar .dropdown-item {*/
/*    font-weight: 300*/
/*}*/

/*.top-bar .topbar-link {*/
/*    color: #495057;*/
/*    text-decoration: none;*/
/*}*/


/*.top-bar .topbar-flag {*/


/*.top-bar .dropdown-menu {*/
/*    margin-top: 1.3rem*/
/*}*/

/*.top-bar .dropdown-toggle {*/
/*    color: inherit;*/
/*    text-decoration: none*/
/*}*/

/*.top-bar .dropdown-toggle::after {*/
/*    margin-left: 5px*/
/*}*/

/*.top-bar .dropdown-item {*/
/*    color: #495057;*/
/*    font-weight: 300*/
/*}*/



/*.navbar-light .navbar-icon-link,*/
/*.navbar-fixed-light.fixed-top .navbar-icon-link,*/
/*.navbar-hover-light:hover .navbar-icon-link {*/
/*    color: rgba(0, 0, 0, 0.95)*/
/*}*/

/*.navbar-light .navbar-icon-link-badge,*/
/*.navbar-fixed-light.fixed-top .navbar-icon-link-badge,*/
/*.navbar-hover-light:hover .navbar-icon-link-badge {*/
/*    background: #343a40;*/
/*    color: #fff*/
/*}*/


/*.btn--spin {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*margin-top: 5px;*/
    /*padding: 0;*/
/*}*/

/*.btn--spin.loading::before {*/
    /*position: absolute;*/
    /*margin-top: -4px;*/
    /*height: 28px;*/
    /*width: 28px;*/
/*}*/

.loading-overlay {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex;
}
.loading-overlay::before {
    content: '';
    margin: auto;
    height: 24px;
    width: 24px;
    animation: rotate 1s infinite linear;
    border: 5px solid #f4f4f5;
    border-right-color: transparent;

    border-top-color: #869196 !important;
    border-left-color: #869196 !important;
    border-bottom-color: #869196 !important;
    border-right-color: transparent !important;
    border-radius: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.JS--shippingWrapper .loading-overlay,
.JS--paymentWrapper .loading-overlay {
    background-color: rgba(255, 255, 255, 0.5);
}

/*.JS--shippingWrapper .loading:before {*/
    /*!*border: 5px solid #f4f4f5;*!*/
    /*border-right-color: transparent;*/
/*}*/

/*.JS--shippingWrapper .loadingWrapper.loadingWrapper-secondary+.loading::before {*/
    /*border-top-color: #869196 !important;*/
    /*border-left-color: #869196 !important;*/
    /*border-bottom-color: #869196 !important;*/
    /*border-right-color: transparent !important;*/
/*}*/

/*.loading-lg::before {*/
/*    height: 44px !important;*/
/*    width: 44px !important;*/
/*    border-width: 6px !important;*/
/*}*/

/*.loading {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.loading::before {*/
/*    content: '';*/
/*    margin: auto;*/
/*    height: 24px;*/
/*    width: 24px;*/
/*    animation: rotate 1s infinite linear;*/
/*    border: 5px solid #f4f4f5;*/
/*    !*border: 5px solid #515bf5;*!*/
/*    border-right-color: transparent;*/
/*    border-radius: 50%;*/
/*    right: 0;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*    display: block;*/
/*}*/

/*.loadingWrapper {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/
/*.loadingWrapper.loadingWrapper-secondary .text-faded {*/
/*    color: #869196 !important;*/
/*    color: #adb5bd !important;*/
/*}*/
/*.loadingWrapper.loadingWrapper-secondary .loading::before {*/
/*    border-top-color: #869196 !important;*/
/*    border-left-color: #869196 !important;*/
/*    border-bottom-color: #869196 !important;*/
/*    border-right-color: transparent !important;*/
/*}*/
/*.loading-sm::before {*/
/*    height: 16px !important;*/
/*    width: 16px !important;*/
/*    border-width: 3px !important;*/
/*}*/



/*.nav-hidden {*/
/*    overflow: hidden;*/
/*}*/


/*.border--dashed {*/
/*    border-width: 2px;*/
/*    border-style: dashed;*/
/*}*/

/*.no-spinners input::-webkit-outer-spin-button,*/
/*.no-spinners input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    margin: 0;*/
/*}*/

/*.THIS input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    margin: 0;*/
/*}*/

/* ============= Checkout ============= */



/*.minicard--body a {*/
/*    font-size: .875rem;*/
/*    line-height: 1.125rem;*/
/*}*/

/*.minicard--mainLink {*/
/*    padding: .35em .5em;*/
/*}*/
/*.btn-tool:hover,*/
/*.minicard--mainLink:hover {*/
/*    color: #212529;*/
/*    text-decoration: none;*/
/*    !*background-color: #ffe0b1;*!*/
/*    background: linear-gradient(180deg,#f4f4f5,#e8e8e8);*/
/*}*/

/*.minicard--toolLink {*/
/*    color: #868e96;*/
/*}*/

/*.text--toolLink,*/
/*.minicard--toolLink {*/
/*    font-size: .7875rem;*/
/*    text-decoration: underline;*/
/*    letter-spacing: 0;*/
/*    !*text-transform: capitalize;*!*/
/*}*/
/*.text--toolLink:hover,.text--toolLink:focus,*/
/*.minicard--toolLink:hover, .minicard--toolLink:focus {*/
/*    color: #212529;*/
/*    text-decoration: underline;*/
/*}*/



/*.tile-sm {*/
/*    font-size: .875rem;*/
/*    line-height: 1.125rem;*/
/*}*/



/*.overlay--wrapper {*/
/*    position: relative;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 1px solid #f1f1f1;*/
/*    -webkit-transform-style: preserve-3d;*/
/*    transform-style: preserve-3d;*/
/*}*/
/*.overlay--bestseller {*/
/*    background: #FAF1CB;*/
/*    color: #7b6b47;*/
/*    padding: .4rem .25rem .2rem .25rem;*/
/*    text-transform: uppercase;*/
/*    font-size: .875rem;*/
/*    font-weight: bold;*/
/*    letter-spacing: 0.1rem;*/
/*}*/



/*.price--gross {*/
/*    font-weight: normal;*/
/*    color: #495057;*/
/*}*/
/*.price--shipping {*/
/*    font-weight: normal;*/
/*    color: #495057;*/
/*}*/

/*.order-delivery-date option {*/
/*    padding: .65rem 0.125rem !important;*/
/*    border-bottom: 1px solid #ccd4da;*/
/*}*/


/*.delivery {*/
/*    background: url(https://images.serenataassets.com/image/upload/f_auto,q_auto/v1529317223/WebContent/freedel_2018-3.png) no-repeat;*/
/*    z-index: 2;*/
/*    width: 123px;*/
/*    height: 123px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    display: block;*/
/*}*/

/*!* ============= Fixes ============= *!*/
/*@media(device-width: 768px) and (device-height: 1024px){*/
/*    ::-webkit-scrollbar {*/
/*        -webkit-appearance: none;*/
/*        width: 7px;*/
/*    }*/
/*    ::-webkit-scrollbar-thumb {*/
/*        border-radius: 4px;*/
/*        background-color: rgba(0,0,0,.5);*/
/*        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);*/
/*    }*/
/*}*/

/* ============= Boostrap Overwrite ============= */

/*.initialism { display: none; }*/

