{# boltzaras/sikeres-boltzaras.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sikeres boltzárás{% endblock %}

{% block body %}
	<div class="col-sm-6">
        <blockquote> {{ azuzenet }} </blockquote>
	</div>
{% endblock %}
