
$settings-padding:            1rem;
$settings-item-color:         $gray-600;
$settings-item-hover-color:   $blue-lighten;

$settings-icon-padding:       .5rem;
$settings-icon-bg:            $gray-50;
$settings-icon-color:         $gray-600;
$settings-icon-width:         40px;
$settings-icon-font-size:     1.7 * $font-size-base;

$settings-option-color:       $settings-item-color;

.settings-item {
  padding: $settings-padding;
  border-radius: $border-radius;
  display: flex;
  align-items: flex-start;

  &:hover {
    background-color: $settings-item-hover-color;
  }

  .settings-item-body {
    display: flex;
  }

  .settings-icon {
    padding: $settings-icon-padding;
    background-color: $settings-icon-bg;
    align-content: flex-start;
    align-items: center;
    margin-right: 1rem;
    text-align: center;

    & i {
      margin-right: 0;
      width: $settings-icon-width;
      height: $settings-icon-width;
      font-size: $settings-icon-font-size;
      color: $settings-icon-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .settings-option {
    color: $settings-option-color;

    & span.text-primary {
      font-weight: $font-weight-bold;
      letter-spacing: .01rem;
    }
  }
}