// Variant Picker
// Visually nice radio buttons which allows rich HTML content

//$vp-height:                   1.5rem !default;  //24px

$vp-padding-y:                $input-btn-padding-y !default;
$vp-padding-x:                $input-btn-padding-x !default;
$vp-margin-y:                 1rem !default;
$vp-margin-x:                 .5rem !default;

$vp-border-width:             $input-btn-border-width !default;
$vp-border-radius:            $border-radius !default;
$vp-border-color:             $border-color !default;

$vp-bg:                       $white !default;
$vp-hover-bg:                 $secondary !default;
$vp-text-color:               $yiq-text-dark !default;
$vp-font-weight:              $font-weight-normal !default;
$vp-font-size:                $input-btn-font-size !default;
$vp-line-height:              $input-btn-line-height !default;

$vp-checked-bg:               $white !default;
$vp-checked-color:            $primary !default;
$vp-checked-border-color:     $vp-checked-color !default;
$vp-focus-width:              $input-btn-focus-width !default;
$vp-focus-color:              $vp-checked-color !default;
$vp-focus-shadow:             0 0 0 $vp-focus-width $vp-focus-color !default;

$vp-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

@mixin figure-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: color-yiq($background);
  //@include gradient-bg($background);
  background-color: $background;
  border-color: darken($border, 5%);
  //@include box-shadow($btn-box-shadow);
}

.vp input[type=checkbox],
.vp input[type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.vp {
  position: relative;
  //display: inline-block;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  padding-bottom: $vp-margin-y;
  align-items: flex-start;

  @include font-size($vp-font-size);
  line-height: $vp-line-height;

  background-color: $vp-bg;
  border: none;
  @include border-radius($border-radius, 0);

  &:hover .vp-figure {
    background-color: darken($vp-bg, 3%);
    //background-color: $vp-hover-bg;
  }

  & .vp-figure {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: $vp-padding-y $vp-padding-x;
    margin-bottom: 0; // because label element has a bottom margin by default
    @include transition($vp-transition);
    //@include border-radius($border-radius, 0);
    border-radius: inherit;
    border: $vp-border-width solid $vp-border-color;
    color: color-yiq($vp-bg);

    & .vp-content {
      display: block;
      text-align: center;
    }

    &:after {
      position: absolute;
      /*font-family: Font Awesome\ 5 Free;*/
      /*content: "\f058";*/
      /*width: 1.325rem;*/
      /*height: 1.325rem;*/
      /*top: -.4625rem;*/
      /*right: -.4625rem;*/
      /*-moz-osx-font-smoothing: grayscale;*/
      /*-webkit-font-smoothing: antialiased;*/
      /*display: inline-block;*/
      /*font-style: normal;*/
      /*font-weight: 900;*/
      /*font-size: 1.325rem;*/
      /*font-variant: normal;*/
      /*color: #008CDE;*/
      /*text-rendering: auto;*/
      /*opacity: 0;*/
      /*-webkit-transition: opacity .2s;*/
      /*transition: opacity .2s;*/
      /*background-color: white;*/
      /*border-radius: 10px;*/

      background-color: $vp-checked-bg;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='5 5 10 10' fill='%23008cde'%3E%3Cpath d='M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0'%3E%3C/path%3E%3C/svg%3E");
      display: block;
      width: 1.325rem;
      height: 1.325rem;
      top: -.4625rem;
      right: -.4625rem;
      content: "";
      opacity: 0;
      transition: opacity .2s;
      -webkit-transition: opacity .2s;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 65% 65%;
      border: 1px solid $vp-checked-border-color;
      border-radius: 2rem;
    }
  }
  &.vp-has-checkbox .vp-figure:before {
    /*font-family: Font Awesome\ 5 Free;*/
    /*content: "\f111";*/
    /*top: -0.4rem;*/
    /*right: -.4rem;*/

    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*display: inline-block;*/
    /*font-style: normal;*/
    /*font-weight: 900;*/
    /*font-size: 1.2rem;*/
    /*font-variant: normal;*/
    /*color: transparent;*/
    /*text-rendering: auto;*/
    /*line-height: 1;*/
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c4cdd5;
    position: absolute;
    display: block;
    content: "";
    width: 1.325rem;
    height: 1.325rem;
    top: -.4625rem;
    right: -.4625rem;
    box-sizing: border-box;
  }
}

.vp.vp-checked~.vp-figure:after,
.vp input[type=checkbox]:checked~.vp-figure:after,
.vp input[type=radio]:checked~.vp-figure:after {
  opacity: 1;
}

.vp input[type=checkbox]:focus~.vp-figure,
.vp input[type=radio]:focus~.vp-figure {
  background-color: $vp-hover-bg;
  border-color: $primary;
  @include box-shadow($vp-focus-shadow);
}


@each $color, $value in $theme-colors-light {
  .vp-#{$color} .vp-figure {
    @include figure-variant($value, $value);
  }

  .vp:hover.vp-#{$color} .vp-figure {
    background-color: darken($value, 3%);
    border-color: darken(darken($value, 5%), 5%);
  }

  .vp.vp-#{$color} input[type=checkbox]:focus~.vp-figure,
  .vp.vp-#{$color} input[type=radio]:focus~.vp-figure {
    background-color: darken($value, 3%);
    border-color: $primary;
    @include box-shadow($vp-focus-shadow);
  }
}



.vp-sm .vp-figure {
  /*height: valami;*/
}

.vp-md .vp-figure {
  height: 3rem;
}

.vp-lg .vp-figure {
  min-height: 8rem;
}

.vp-xl .vp-figure {
  min-height: 12rem;
}

.vp.has-peek {
  padding-bottom: 1.5rem
}

.vp.has-peek .vp-figure {
  margin-bottom: .5em
}


.vp-peek {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

a.vp {
  color: #28313b
}

a.vp:focus,
a.vp:hover {
  outline: 0;
  color: #28313b;
  text-decoration: none
}