@import "bootstrap/bootstrap.scss";
@import "_settings-home";
@import "_settings-translate";
@import "_sidebar";
@import "_field-group";
@import "_switch";
@import "_variant-picker";


$nm-x:          1rem !default;

.no-margins {
  margin-left: -1 * $nm-x !important;
  margin-right: -1 * $nm-x !important;

  &>*:not(.table-responsive) {
    padding-left: $nm-x;
  }

  & td:first-of-type,
  & th:first-of-type {
    padding-left: $nm-x + $table-cell-padding;
  }
  & td:last-of-type,
  & th:last-of-type {
    padding-right: $nm-x + $table-cell-padding;
  }
}