@import "bootstrap-theme/bootstrap-theme.scss";
@import "_settings-home";
@import "_settings-translate";
@import "_order";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.order-list table td {
  height: 100px;
}

.order-list table .vertical-ribbon-sm {
  top: -20px !important;
}

.bg-body {
  background-color: $body-bg;
}
.page-title, .page-title-box .page-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  /*color: #212b36;*/
}

.edit-block {

}

@media print {
  body {
    background-color: $white;
  }
  a {
    color: initial !important;
    text-decoration: none !important;
  }
  .card {
    box-shadow: none;
  }

  .edit-block {
    display: none;
  }
}

.wrapper-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.icon-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  & .icon-bg {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: -2px;
    bottom: -2px;
    margin-right: 0;
    margin-bottom: 0;
    opacity: .6;
    -webkit-transform: rotate(30deg);
    transform: rotate(-30deg);
    font-size: 1.2rem;
  }
}

.img-unavailable {
  --img-width: 50px;
  --img-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--img-width);
  height: var(--img-height);
  background-color: $gray-100;
  color: $gray-400;
  border: 1px solid $gray-300;
  font-size: 1.2rem;

  &.img-unavailable-lg {
    //width: 100%;
    //height: 250px;
    --img-width: 100%;
    --img-height: 250px;
    font-size: 3rem;
  }
}

.order-delivery-date .icon-bg {
  //width: ;
}

.product-tag {
  /*display: inline-block;*/
  font-size: 80%;
  line-height: 90%;
  /*padding: .25rem .5rem 0.2em .5rem;*/
  margin: 0 .5rem .5rem 0;
  font-weight: 400;
  text-align: center;
  vertical-align: baseline;
  border-radius: 1rem;
  text-transform: none;
  font-style: normal;
  /*letter-spacing: 0.02rem;*/
  /*background-color: #eee;*/
  color: #637281;
}

// Used in product detail admin page
.product {
  margin-bottom: 20px;
}

.product-image {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*border: 1px solid #ced4da;*/
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.overlay--productCover {
  background: #008CDE;
  color: #fff;
  padding: .2rem;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
  letter-spacing: 0;
}

.variant-item {
  position: relative;
  outline: none;
  border-top: 1px solid #e5e5e5;
  /*background-color: #f4f4f5;*/
}

.variant-item:hover {
  background-image: linear-gradient(to bottom, #f9fafb, #f4f4f5);
}

.grid-preview {

}
.grid-shadow {
  -webkit-box-shadow: inset -13px 0 9px -9px rgba(212,212,212,1);
  -moz-box-shadow: inset -13px 0 9px -9px rgba(212,212,212,1);
  box-shadow: inset -13px 0 9px -9px rgba(212,212,212,1);
}
.grid-scroll {
  overflow-x: scroll;
}
.grid-template-container {
  --variant-columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--variant-columns), 12.133rem) repeat(1, minmax(7.133rem, auto)) repeat(1, 7.133rem) 9.133rem 7.133rem 7.133rem;
  grid-gap: .4rem;
  -ms-flex-align: center;
  align-items: center;
}
.grid-cell {
  word-wrap: break-word;
  /*word-break: break-word;*/
  /*overflow-wrap: break-word;*/
  display: block;
}
.grid-scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.grid-scroll::-webkit-scrollbar-thumb {
  background: #c4cdd5;
  border-radius: 10px;
}

.grid-scroll::-webkit-scrollbar-track {
  background: #f0f3f5;
  border-radius: 10px;
}

.grid-scroll ul,
.grid-scroll ul li {
  padding: 0;
  list-style: none;
  max-width: 100%;
  overflow: visible;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: relative;
  z-index: 1;
}

.grid-scroll ul li {
  min-width: 100%;

  display: flex;
  align-items: flex-start;
  position: relative;
  outline: none;
}

.grid-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}



.navbar--toolbar {
  & .nav-item {
    &:first-of-type {
      margin-left: -.7rem;
    }
  }
}


// Product related

.list-group--status {
  width: 100%;
  margin-bottom: .5rem;

  & .list-group-item {
    border: none;
    padding: .3125rem 0;
  }
}


.ui-pnotify-text {
  font-size: initial;
  line-height: initial;
}


/* Used in statistics cards in Boltzaras */
.card .card--infoCard i {
  color: #79858c;
}

.card .card--infoCard h6 {
  color: #79858c;
  text-transform: uppercase;
  margin-top: 0;
}

.card .card--infoCard h4 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.quickinfo-title {
  display: inline-block;
  /*color: #637381;*/
  font-weight: normal;
  padding-bottom: .1rem;
  border-bottom: 2px dotted #adb5bd;
  margin-bottom: .5rem;
}
.quickinfo-highlight {
  display: block;
  font-weight: bold;
}
//
.badge-lg {
  font-size: inherit;
}
.badge-missing,
.badge--missing {
  color: initial;
  text-transform: uppercase;
  font-style: italic;
  font-size: 80%;
  line-height: 90%;
}
.card .alert,
.alert-card {
  margin: 0 -1rem;
  padding: 1rem 1rem;
  border-radius: 0;
}


// Boltzaras inventory
.table-inventory-edit {
  background: #f6f6f6;
}

.table-inventory-edit label {
  font-weight: normal;
}
.table-inventory-edit thead th {
  border-top-color: #f6f6f6;
  border-bottom-width: 1px;
}
.border-success  {
  background-color: #c6f3e9;
  border-left: 12px solid;
}
.border-danger {
  border-left: 12px solid;
}

.border--recipient {
  border-left: 5px solid #dee2e6;
}

.active span {
  /*color: inherit !important;*/
}