{# templates/lucky/number.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome Lucky Number!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <strong style="text-transform: uppercase;">Ez  már a saját első SYMFONY kontrólerem TWIG template-tel: {{ number }}</strong>
        {% block javascripts %}{% endblock %}
    </body>
</html>



