// Topnav
// It extends Bootstrap's navbar functionality

// Content:
// .topnav
// .navbar-custom - it is related to Navbar's navbar-toggler-font-size !!

$topnav-height:               50px !default;
$topnav-nav-link-height:      40px !default;

// ==================================================================
// Added by Stulipan
// ==================================================================

.topnav {
  background: linear-gradient(to right, darken($blue, 15), darken($blue, 20));
  background-color: $blue;
  max-height: $topnav-height;

  & .navbar {
    min-height: $topnav-height;
    max-height: $topnav-height;
    padding-top: 0;
    padding-bottom: 0;
  }
}

$navbar-custom-link-padding-y:        $navbar-toggler-padding-y;
$navbar-custom-link-padding-x:        $navbar-toggler-padding-x;

.navbar-custom {
  display: flex;
  align-items: stretch;
  padding: 0;

  & .nav-link {
    --nav-link-height: #{$topnav-nav-link-height};
    padding: $navbar-custom-link-padding-y $navbar-custom-link-padding-x;
    height: var(--nav-link-height);
    overflow-y: hidden;
  }

  .nav-user {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    border-width: 0 1px;
    color: $navbar-dark-color;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    //padding-right: .25rem;
    //padding-left: .25rem;

    .account-user-avatar {
      display: inline-block;

      @include media-breakpoint-up(sm) {
        padding-right: .25rem;
      }
    }

    .avatar {
      --avatar-w: 30px;
      --avatar-h: 30px;

      @include media-breakpoint-down(xs) {
        --avatar-w: #{$navbar-toggler-font-size};
        --avatar-h: #{$navbar-toggler-font-size};
      }
    }

    .account-user-detail {
      display: none;
    }

    @include media-breakpoint-up(sm) {
      .account-user-detail {
        display: inline-block;
        padding-left: .25rem;
        padding-right: $navbar-custom-link-padding-x;
      }
    }

    .account-user-name {
      display: block;
      font-weight: $font-weight-normal;
    }
    .account-position {
      display: block;
      font-size: 12px;
      margin-top: -2px;
    }
  }
}