/*=====================================================*/
/*=                                                   =*/
/*=           Vue Clip File Uploader                  =*/
/*=                                                   =*/
/*=====================================================*/

$uploader-border-radius:                $border-radius !default;
$uploader-border-width:                 2px !default;
$uploader-border-color:                 $input-border-color !default;
$uploader-hover-border-color:           $primary !default;
$uploader-hover-bg:                     $gray-100 !default;

$uploader-dz-message-padding:           1rem !default;
$uploader-dz-message-border-radius:     $uploader-border-radius !default;

$uploader-files-padding-y:              1rem !default;
$uploader-file-margin-y:                1rem !default;
$uploader-file-progress-bg:             $gray-200 !default;
$uploader-file-progress-border-radius:  8px !default;
$uploader-file-progress-height:         4px !default;
$uploader-file-progress-indicator-bg:     $green !default;

$uploader-file-avatar-margin-x:         $uploader-file-margin-y !default;
$uploader-file-size-color:              $gray-600 !default;

.uploader {
  position: relative;
  @include border-radius($uploader-border-radius);
  border: $uploader-border-width dashed $uploader-border-color;
  cursor: pointer;
  transition: background 30ms ease;

  &:focus,
  &:hover,
  &:active,
  &.dragging {
    outline: none;
    border-color: $uploader-hover-border-color;
    background-color: $uploader-hover-bg;
  }
}
.uploader *:not(i) {
  box-sizing: border-box;
  font-weight: normal;
}

.uploader-action {
  //@include border-radius($uploader-border-radius);
  //border: $uploader-border-width dashed $uploader-border-color;
  //cursor: pointer;
  //transition: background 30ms ease;
  //
  //&:focus,
  //&:hover,
  //&:active,
  //&.dragging {
  //  outline: none;
  //  border-color: $uploader-hover-border-color;
  //  background-color: $uploader-hover-bg;
  //}

  & .dz-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $uploader-dz-message-padding;
    border-radius: $uploader-dz-message-border-radius;
  }
}

.uploader-files {
  flex: 1;
  //padding: $uploader-files-padding-y 0 0 0;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2*2px);
  height: calc(100% - 2*2px);
  overflow-y: scroll;
  background-color: $gray-100;
  font-size: 12px;
  margin: 2px;

  & .uploader-file {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  & .uploader-file:not(:first-of-type) {
    margin-top: $uploader-file-margin-y;
  }

  & .file-progress {
    background-color: $uploader-file-progress-bg;
    border-radius: $uploader-file-progress-border-radius;
    height: $uploader-file-progress-height;
    width: 100%;

    & .progress-indicator {
      display: block;
      background-color: $uploader-file-progress-indicator-bg;
      border-radius: $uploader-file-progress-border-radius;
      height: $uploader-file-progress-height;
    }
  }
  & .file-avatar {
    margin-right: $uploader-file-avatar-margin-x;
  }
  & .file-size {
    color: $uploader-file-size-color;
  }
}


@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}