#index:
#    path: /
#    controller: App\Controller\DefaultController::index

logout:
    path: /logout

_liip_imagine:
    resource: "@LiipImagineBundle/Resources/config/routing.yaml"

# config/routes.yaml
