// Cart items

$cart-item-padding-y:                       1rem !default;
$cart-item-border-width:                    1px !default;
$cart-item-border-color:                    $gray-300 !default;

$cart-item-image-width:                     80px !default;
$cart-item-image-width-sm:                  60px !default;
$cart-item-link-color:                      $gray-800 !default;
$cart-item-link-font-weight:                $font-weight-bold;

$order-summary-padding-y:                   .5rem !default;
$order-summary-border-width:                1px !default;
$order-summary-border-color:                $cart-item-border-color !default;
$order-summary-total-font-size:             1.1rem !default;



.cart {
  & .cart-item {
    font-size: $font-size-base-secondary;
    padding-top: $cart-item-padding-y;
    padding-bottom: $cart-item-padding-y;
    border-bottom: $cart-item-border-width solid $cart-item-border-color;

    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      border-bottom: none
    }

    & .cart-item-img {
      max-width: $cart-item-image-width;

      @include media-breakpoint-down(sm) {
        max-width: $cart-item-image-width-sm;
      }
    }

    & .cart-item-link {
      font-weight: $font-weight-bold;
      text-decoration: none;
      color: $cart-item-link-color;
      padding: 0;
    }
    & .cart-item-price {
      color: $cart-item-link-color;
      white-space: nowrap;
    }
    & .cart-item-quantity {
      font-size: $font-size-sm;
      color: $muted;
    }
    & .cart-item-missing {
      font-size: $font-size-sm;
      color: $danger;
    }
  }
}

.badge-quantity-wrapper {
  position: relative;

  & .badge-quantity {
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 85%;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 2rem;
    border: 1px solid #c4cdd5;
    padding: .3rem .25rem .2rem .25rem;
    min-width: 1.5rem;
    text-align: center;
    z-index: 2;
  }
}

.cart-total {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cart-message {
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: $cart-item-image-width;
  min-width: $cart-item-image-width;
  height: $cart-item-image-width;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  font-size: .7875rem;
  line-height: 1rem;
  padding: .5rem 0;
  background-color: $gray-100;

  & .svg-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    bottom: -2px;
    margin-right: 0;
    margin-bottom: 0;
    opacity: .4;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    stroke: currentColor;
    stroke-width: 3;
    vertical-align: text-bottom;
    --layer1: currentColor;
    --layer2: currentColor;
  }
}
.cart-message-title {
  margin-left: 1rem;
}

.order-summary-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: $order-summary-padding-y;
  padding-bottom: $order-summary-padding-y;
  border-bottom: $order-summary-border-width solid $order-summary-border-color;

  &:last-of-type {
    border-bottom: none;
  }

  & .order-summary-total {
    font-weight: 700;
    font-size: $order-summary-total-font-size;
  }
}
.order-summary-item,
.order-summary-item-label {
  font-size: $font-size-base-secondary;
}

.write-message {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background: $gray-200;
  @include border-radius($card-border-radius);

  & svg {
    position: absolute;
    width: 6rem;
    height: 6rem;
    right: 0px;
    bottom: -2px;
    margin-right: 0;
    margin-bottom: 0;
    //opacity: 0.2;
    -webkit-transform: rotate(30deg);
    transform: rotate(-30deg);
    color: $gray-300;
  }
}

.checkout-block-text {
  font-size: $font-size-base-secondary;
  color: $muted;
}

.form-control-cart {
  font-size: 1rem;
  background-position: right 0.25rem !important;
  padding: calc(.25rem *1.1) calc(.25rem + 20px) calc(.25rem * .9) .25rem !important;
  line-height: 1.2;
}