// Progress bar in the Checkout pages

.progress--bar {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.progress--bar-item {
  align-items: center;
  display: flex;
  font-size: $font-size-sm;
  margin-right: .5rem;

  &.active {
    font-weight: $font-weight-bold;
  }
}

.progress--bar-tick {
  color: #008CDE;
  margin-right: 5px;
}