// Corrections for mobile devices
// E.g.: input fields must have 1rem (16px) font size (!)


$mobile-font-size-base:                             1rem !default;
$mobile-line-height-base:                           1.4 !default;
$mobile-font-size-base-sm:                          $mobile-font-size-base * .875 !default;
$mobile-line-height-base-sm:                        1.25 !default;
//$mobile-font-size-base-lg:                          $mobile-font-size-base * 1.125 !default;
//$mobile-line-height-base-lg:                        1.5 !default;


$mobile-input-height:                               calc(#{$mobile-line-height-base * 1em} + #{$input-padding-y * 2} + #{$input-height-border}) !default;
$mobile-input-height-sm:                            calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border}) !default;

@include media-breakpoint-down(sm) {
  body {
    @include font-size($mobile-font-size-base);
    line-height: $mobile-line-height-base;
  }

  .col-form-label,
  .list-group-item,
  .dropdown-menu,
  blockquote,
  h5, .h5,
  h6, .h6
  {
    @include font-size($mobile-font-size-base);
    line-height: $mobile-line-height-base;
  }

  $__mobile-line-height:              $mobile-line-height-base * 1rem !default;

  .collapse-arrow-show {
    &:after {
      --font-size: #{$mobile-font-size-base};
      --line-height: #{$__mobile-line-height};
    }
  }
  .svg-icon {
    --font-size: #{$mobile-font-size-base};
    --line-height: #{$__mobile-line-height};
  }


  ////////////////////////////////////
  //  FORM INPUTS
  ///////////////////////////////////
  .btn,
  .form-control,
  .input-float .form-control
  {
    @include font-size(1rem);
    line-height: $mobile-line-height-base;
  }
  .form-control {
    height: $mobile-input-height;
  }
  .btn {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
  }

  ////////////////////////////////////
  //  SMALL
  ////////////////////////////////////
  small,
  .text-sm,
  .btn-sm,
  .checkout-summary,
  .progress--bar
  {
    @include font-size($mobile-font-size-base-sm);
    line-height: $mobile-line-height-base-sm;
  }
  .form-control-sm {
    height: $mobile-input-height-sm;
  }

  ////////////////////////////////////
  //  LARGE
  ////////////////////////////////////
  //.btn-lg {
  //  @include font-size($mobile-font-size-base-lg);
  //  line-height: $mobile-line-height-base-lg;
  //}

  // Border color correction: darker border
  .form-control,
  .input-float .form-control
  {
    border-color: $gray-500;
  }
}



$nm-x:             $card-spacer-x !default;

@include media-breakpoint-down(sm) {
  .container {
    padding-right: $nm-x;
    padding-left: $nm-x;
  }
  .row {
    margin-right: calc(-1 * #{$nm-x});
    margin-left: calc(-1 * #{$nm-x});

    & > .col,
    & > [class*="col-"] {
      padding-right: $nm-x;
      padding-left: $nm-x;
    }
  }

  .row-narrow {
    margin-right: -$nm-x / 2;
    margin-left: -$nm-x / 2;

    > .col,
    > [class*="col-"] {
      padding-right: $nm-x / 2;
      padding-left: $nm-x / 2;
    }
  }
}

.scroll-overflower {
  overflow-x: scroll;
  position: relative;

  & .scroll-overflower-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: $nm-x; //

    @include media-breakpoint-down(sm) {
      width: calc(960px - 2 * #{$nm-x});
    }
    @include media-breakpoint-down(xs) {
      width: calc(1060px - 2 * #{$nm-x});
    }
  }

}

// Correction. Use class "correction-no-padding" instead of "px-0 px-md-10px"
.correction-no-padding {
  @include media-breakpoint-down(xs) {
    padding-left: 0 !important;
    padding-right: 0 !important;

    & .card {
      border-radius: 0;
    }
  }
}

.correction-product-image-no-padding {
  @include media-breakpoint-down(xs) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}