// Footer

$footer-bg:                       $gray-700 !default;
$footer-color:                    $gray-300 !default;
$footer-font-size:                $font-size-base !default;
$footer-body-padding-y:           2rem !default;
$footer-body-padding-x:           1.25rem !default;

$footer-link-line-height:         1.5 !default;

$footer-nav-copyright-bg:         $gray-800 !default;
$footer-nav-copyright-padding-y:  map_get($spacers, 3) !default;

.main-footer {
  font-size: $footer-font-size;
  //color: $muted;
  //background-color: #e4e8ea;
  background-color: $footer-bg;
  color: $footer-color;

  & a {
    color: $footer-color;
    line-height: $footer-link-line-height;
  }

  & h5, h6 {
    letter-spacing: $letter-spacing;
  }

  & .footer-body {
    padding: $footer-body-padding-y 0;
    text-align: center;
  }

  & .footer-nav-copyright {
    //color: $gray-300;
    background-color: $footer-nav-copyright-bg;
    padding-top: $footer-nav-copyright-padding-y;
    padding-bottom: $footer-nav-copyright-padding-y;
  }
}