.product-grid-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  color: #869196
}

.product-grid-header strong {
  color: #495057
}

.product-grid-header-show {
  display: inline-block;
  padding: .3rem;
  color: #495057;
  margin-right: .5rem
}

.product-grid-header-show.active {
  border-bottom: solid 2px #495057
}

.product-grid-header-show:hover,
.product-grid-header-show:focus {
  text-decoration: none;
  border-bottom: solid 2px #495057
}

.products-grid {
  & .product {
    margin-bottom: 30px;
    font-size: $font-size-base-secondary;

    & .productList--price-gross {
    }
  }
  & .product-name {
    font-size: $font-size-base-secondary;
  }
  & .text-link-product {
    color: $gray-800;
  }
  & .product-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9ecef;
    transition: all .2s ease-in-out;

    &:hover {}
  }


  //.product-image:hover .product-hover-overlay {
  //  opacity: 1
  //}

  .product-image:hover .btn {
    -webkit-transform: none !important;
    transform: none !important;
    opacity: 1 !important
  }
}

.product-details {
  & .product-name h1 {
    font-size: 1.35rem;
    font-weight: $font-weight-bold;
    text-transform: initial;
    line-height: 1.5rem;
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      font-size: 2.05rem;
      line-height: 2.5rem;
    }
  }

  & .product-price {
    margin-top: map_get($spacers,3);
  }
  & .product-variants {
    margin-top: map_get($spacers,3);
  }
  & .product-credit-card {
    margin-top: map_get($spacers, 4);
  }
}

.product-reviews {
}

@include media-breakpoint-down(xs) {
  .correction-product-image-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}


//.product-hover-overlay {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  top: 0;
//  left: 0;
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-align: center;
//  align-items: center;
//  -ms-flex-pack: center;
//  justify-content: center;
//  background: rgba(255, 255, 255, 0.92);
//  opacity: 0;
//  transition: all 0.5s
//}
//
//.product-hover-overlay .product-hover-overlay-buttons {
//  z-index: 3
//}
//
//.product-hover-overlay .btn {
//  width: 40px;
//  height: 40px;
//  text-align: center;
//  line-height: 40px;
//  padding: 0;
//  transition: all 0.3s
//}
//
//.product-hover-overlay .btn.btn-product-left {
//  -webkit-transform: translateX(-20px);
//  transform: translateX(-20px);
//  opacity: 0
//}
//
//.product-hover-overlay .btn.btn-product-right {
//  -webkit-transform: translateX(20px);
//  transform: translateX(20px);
//  opacity: 0
//}
//
//.product-hover-overlay .btn.btn-buy {
//  width: auto;
//  padding-left: 2rem;
//  padding-right: 2rem;
//  margin-left: .5rem;
//  margin-right: .5rem
//}
//
//.product-hover-overlay .product-hover-overlay-link {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  left: 0;
//  top: 0
//}

@media (min-width: 576px) {
  .product-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important
  }
}

@media (min-width: 768px) {
  .product-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important
  }
}

.detail-images {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem
}

.detail-thumb-item {
  background: none;
  /*border: none;*/
  border: 1px solid transparent;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  outline: none !important;
  padding: 0
}

.detail-thumb-item.active {
  opacity: 1;
  /*box-shadow: 0 0 0 1px #6cb8d5;*/
  border-color: $gray-900;
}

/*.detail-thumb-item.active img {*/
/*border-color: #008CDE;*/
/*}*/

.detail-carousel {
  position: relative
}

.detail-carousel .ribbon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999
}

.detail-carousel .ribbon+.ribbon {
  top: 40px
}

.detail-carousel .ribbon+.ribbon+.ribbon {
  top: 70px
}

.product-variant-selector-label {
  color: $label-color;
}

//.product-variant-selector-label span {
//  font-weight: normal;
//  font-size: .8rem;
//  text-transform: none;
//  font-family: "HK Grotesk", sans-serif;
//  /*color: #adb5bd*/
//  color: #869196;
//  letter-spacing: 0.1em;
//}

.detail-option-btn-label {
  position: relative
}

.detail-option-btn-label.active {
  box-shadow: none !important
}

.detail-quantity {
  max-width: 5rem;
}

.detail-full-item {
  width: 100%;
  min-height: 600px
}

@media (min-width: 992px) {
  .detail-full-item {
    height: calc(100vh - 125px - 2rem)
  }
}

.detail-full-item-modal {
  width: 100%;
  min-height: 600px;
  height: calc(100vh - 125px - 5rem)
}

.detail-nav-link.nav-link {
  color: #869196;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-color: #fff #fff #ddd;
  font-size: .8rem;
  /*padding: 1rem 1.5rem;*/
  padding: 0.3125rem 1rem;
  font-weight: 700
}

.detail-nav-link.nav-link.active,
.detail-nav-link.nav-link:hover,
.detail-nav-link.nav-link:focus {
  color: #fff;
  border-color: #fff #fff #343a40 !important
}

$price-font-size-default:        1.35rem;
$price-font-weight:               $font-weight-bold !default;
$price-font-size-mobile:         calc(#{$price-font-size-default} * 0.80);
$price-font-size-sm:             $font-size-base-secondary;

.price {
  color: inherit;
  font-size: $price-font-size-mobile;
  font-weight: $price-font-weight;
  @include media-breakpoint-up(sm) {
    font-size: $price-font-size-default;
  }
  &.price-sale {
    color: $danger;
  }

}

.price-sm {
  font-size: $price-font-size-sm !important;
}


.general-info-section {
  margin-top: map_get($spacers, 4);

  & .general-info-section-left,
  & .general-info-section-right {
    max-width: 500px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

}

.general-info-title {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.general-info-group {
  list-style: none;
}
.general-info-item {
  padding-bottom: 1.5rem;
  //position: relative;
  //padding-left: 1.5rem;

  //&:before {
  //  position: absolute;
  //  left: 0;
  //  top: 5px;
  //  font-size: 8px;
  //  color: $gray-700;
  //  content: "\f067";
  //  margin-right: 5px;
  //  font-family: Font Awesome\ 5 Free;
  //  font-weight: 900;
  //}

  &:last-of-type {
    padding-bottom: 0;
  }
}

.general-info-item-title {
  //font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  margin-bottom: .25rem;
}
.general-info-item-description {
  font-size: $font-size-base-secondary;
}

//////////////////////////////
//
// Scroller for size selector
//
//////////////////////////////

.w-xl {
  width: 100%;
}
.w-lg {
  /*width: 100%;*/
  width: calc(600px - 20px);
}

/*@media (max-width: 767.98px) {*/
@include media-breakpoint-down(sm) {
  .w-lg {
    width: 100%;
    overflow: hidden;
  }
  .w-xl {
    width: 1140px;
  }
}
@include media-breakpoint-down(xs) {
  .w-lg {
    width: calc(600px - 20px);
  }
}

.overflow-x-scroll {
  overflow-x: scroll;
}
@media (min-width:576px) {
  .overflow-x-sm-hidden {
    -ms-overflow-x: hidden !important;
    overflow-x: hidden !important;
  }
}

@media (min-width:768px) {
  .overflow-x-md-hidden {
    -ms-overflow-x: hidden !important;
    overflow-x: hidden !important;
  }
}

@media (min-width:992px) {
  .overflow-x-lg-hidden {
    -ms-overflow-x: hidden !important;
    overflow-x: hidden !important;
  }
}

@media (min-width:1200px) {
  .overflow-x-xl-hidden {
    -ms-overflow-x: hidden !important;
    overflow-x: hidden !important;
  }
}