@charset "UTF-8";

body {
    /*background-color: #eeeeee;*/
    background-color: #F5F7FA;
    /*font-size: .9rem;*/
    height: 100vh;
}

.bill-footer__illustration {
    position: absolute;
    right: 0;
    bottom: -2rem;
    height: 17rem;
    display: block;
    max-width: 100%;
    z-index: -10;
    grays
}

.admin h1,
.admin h2,
.admin h3,
.admin h4,
.admin h5,
.admin h6,
.admin .h1,
.admin .h2,
.admin .h3,
.admin .h4,
.admin .h5,
.admin .h6 {
    color: inherit;
}

.topnav {
    background: linear-gradient(to right, #008CDE, #0070BE);
    background-color: #008CDE;
    margin-bottom: 1rem;
}

.navbar-custom {
    padding: 0 0 0 30px;
    /*background-color: #fff;*/
    /*-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);*/
    /*box-shadow: 0 0 35px 0 rgba(154,161,171,.15);*/
    margin: -5px -20px 0;
    min-height: 70px;
}

.nav-user {
    /*padding: 5px 20px 5px 57px!important;*/
    padding: calc(32px / 2) 20px calc(32px / 2) 57px!important;
    text-align: left!important;
    position: relative;
    background-color: #3b96d4;
    /* border: 1px solid #f6f6f6; */
    border-width: 0 1px;
    min-height: 70px;
    color: rgba(255, 255, 255, .5);
}
.nav-user span {
    display: inline-block;
}
.nav-user .account-user-avatar {
    position: absolute;
    top: calc(38px / 2);
    left: 15px;
}
.nav-user .account-user-avatar img {
    height: 32px;
    width: 32px;
}
.nav-user .account-user-name {
    display: block;
    font-weight: 600;
}
.nav-user .account-position {
    display: block;
    font-size: 12px;
    margin-top: -5px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.navbar-custom .topbar-right-menu li {
    float: left;
}

.notification-list {
    margin-left: 0;
}

.page-title, .page-title-box .page-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    /*color: #212b36;*/
}

.btn {
    font-weight: initial;
    text-transform: none;
    letter-spacing: 0;
}

.table-hover tbody tr:hover {
    /*background-color: #e9ebed;*/
    background-color: #F0F9FF;

}

/*.close {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*text-align: center;*/
    /*line-height: 50px;*/
    /*vertical-align: top;*/
    /*background: #343a40;*/
    /*color: #fff;*/
    /*top: -5px;*/
    /*right: -5px;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*opacity: 1;*/
    /*font-size: 2rem;*/
    /*z-index: 999;*/
    /*cursor: pointer;*/
    /*outline: none;*/
/*}*/

/*.close span {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: -2px;*/
    /*text-shadow: none;*/
    /*font-weight: normal*/
/*}*/


input[data-switch] {
    display: none
}

input[data-switch]+label {
    width: 60px;
    height: 24px;
    background-color: #e1e1e1;
    background-image: none;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[data-switch]+label:before {
    color: #313a46;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    position: absolute;
    right: 3px;
    margin: 0 .21667rem;
    top: 0;
    text-align: center;
    min-width: 1.66667rem;
    overflow: hidden;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[data-switch]+label:after {
    content: '';
    position: absolute;
    left: 4px;
    background-color: #adb5bd;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2rem;
    height: 18px;
    width: 18px;
    top: 3px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

input[data-switch]:checked+label {
    background-color: #3984d1
}

input[data-switch]:checked+label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 4px
}

input[data-switch]:checked+label:after {
    left: 38px;
    background-color: #f6f6f6
}

input[data-switch=bool]+label {
    background-color: #dc3545
}

input[data-switch=bool]+label:before,
input[data-switch=bool]:checked+label:before {
    color: #fff!important
}

input[data-switch=bool]+label:after {
    background-color: #f6f6f6
}

input[data-switch=primary]:checked+label {
    background-color: #876EBD
}

input[data-switch=secondary]:checked+label {
    background-color: #e9eced
}

input[data-switch=success]:checked+label {
    background-color: #00aa5b
}

input[data-switch=info]:checked+label {
    background-color: #008CDE
}

input[data-switch=warning]:checked+label {
    background-color: #ffc107
}

input[data-switch=danger]:checked+label {
    background-color: #dc3545
}

input[data-switch=light]:checked+label {
    background-color: #eee
}

input[data-switch=dark]:checked+label {
    background-color: #343a40
}


.entry {
    font-size: 1rem;
    line-height: 1.5;
}

.entry-lg {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
}

.badge {
    display: inline-block;
    padding: .35rem .75rem 0.15em .75rem;
    font-size: inherit;
    /*font-size: 80%;*/
    font-weight: 400;
    /*line-height: inherit;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
    text-transform: none;
    font-style: normal;
    border: 2px solid transparent;
    letter-spacing: 0.02rem;
}
.badge-primary {
    color: inherit;
    background-color: #d1bff8;
    border: 2px solid #fff;
}
.badge-secondary {
    color: inherit;
    background-color: #eee;
    border: 2px solid #fff;
}
.badge-success {
    color: inherit;
    background-color: #bbe5b3;
    /*border: 2px solid #00aa5b;*/
    border: 2px solid #fff;
}
.badge-danger {
    color: inherit;
    background-color: #FFC8C9;
    border: 2px solid #fff;
}
.badge-warning {
    color: inherit;
    background-color: #FAF1CB;
    border: 2px solid #fff;
}
.badge-info {
    color: inherit;
    background-color: #88c5ef;
    border: 2px solid #fff;
}
.badge-light {
    color: inherit;
    background-color: #eee;
    border: 2px solid #fff;
}
.badge-sm {
    font-size: 80%;
    line-height: 90%;
    padding: .25rem .75rem 0.15em .75rem;
}

.bg-primary-lighten {
    color: inherit;
    background-color: #d1bff8 !important;
}
.bg-secondary-lighten {
    color: inherit;
    background-color: #eee !important;
}
.bg-success-lighten {
    color: inherit;
    background-color: #bbe5b3 !important;
}
.bg-danger-lighten {
    color: inherit;
    background-color: #FFC8C9 !important;
}
.bg-warning-lighten {
    color: inherit;
    background-color: #FAF1CB !important;
}
.bg-info-lighten {
    color: inherit;
    background-color: #88c5ef !important;
}
.bg-light-lighten {
    color: inherit;
    background-color: #eee !important;
}

.ui-pnotify-text {
    font-size: initial;
    line-height: initial;
}

.footer {
    border-top: 1px solid rgba(152, 166, 173, .2);
    bottom: 0;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 250px
}
.footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s
}

.footer .footer-links a:hover {
    color: #313a46
}

.footer .footer-links a:first-of-type {
    margin-left: 0
}

@media (max-width:767.98px) {
    .footer {
        left: 0!important;
        text-align: center
    }
}

.footer-alt {
    left: 0;
    border: none;
    text-align: center
}

body[data-layout=topnav] .footer {
    left: 0!important;
    padding: 19px 0 20px
}

body[data-layout=topnav].boxed-layout .footer {
    max-width: 1300px
}

body.boxed-layout .footer {
    border: none;
    margin: 0 auto;
    background-color: #E9EAED;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    max-width: calc(1300px - 250px)
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      Order Detail Page     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.orderDetail--sidebar .card.card-sidebar {
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom: 1px solid #dee2e6 !important;
    box-shadow: none !important;
}
.orderDetail--sidebar .card-body.card-sidebar {
    padding: .25rem .25rem 1.25rem .25rem;
}
/*.orderDetail--sidebar .card {*/
    /*-webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
    /*box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
/*}*/
.card-body.card-sidebar:not(:last-child) {
    border-bottom: 1px solid #dee2e6 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-link-secondary {
    text-decoration: none;
    letter-spacing: 0;
    color: #868e96;
}
.btn-link-secondary:hover {
    /*color: #868e96;*/
    /*text-decoration: underline;*/
    color: inherit;
    background-color: transparent;
    border-color: transparent
}

.btn-link-secondary:focus,
.btn-link-secondary.focus {
    /*text-decoration: underline;*/
    color: inherit;
    border-color: transparent;
    box-shadow: none
}

.btn-link-secondary:disabled,
.btn-link-secondary.disabled {
    color: #868e96;
    opacity: .7;
    pointer-events: none
}

.dropdown.show .btn-link-secondary {
    color: inherit;
    background-color: #e8eaec;
    text-decoration: none;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
    margin-right: .5rem;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      Product Edit Page     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.product {
    margin-bottom: 20px;
}

.product-image {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*border: 1px solid #ced4da;*/
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tile-link {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30;
}

.overlay--bestseller {
    background: #008CDE;
    color: #fff;
    padding: .4rem .25rem .2rem .25rem;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    /*letter-spacing: 0.1rem;*/
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      select2     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.select2-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--single {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff
}

.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__placeholder {
    float: right
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: 0 0;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: #fff
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(#eee));
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#ccc));
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: 0 0;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
    background-image: linear-gradient(to bottom, #fff 0, #eee 50%);
    background-repeat: repeat-x
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#fff));
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x
}

.select2-container--classic .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    float: right;
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}

/*************************************************************************************************/
/*************************************************************************************************/

.select2-container {
    width: 100%!important
}

.select2-container .select2-selection--single {
    border: 1px solid #ced4da;
    height: calc(2.2125rem + 2px);
    outline: 0
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #b2c5d3 transparent transparent transparent;
    border-width: 6px 6px 0 6px
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #b2c5d3 transparent!important;
    border-width: 0 6px 6px 6px!important
}

.select2-results__option {
    padding: 6px 12px
}

.select2-dropdown {
    border: 1px solid #d3dee6;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15)
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #E9EAED;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #d3dee6;
    outline: 0
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3984d1
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f6f6f6;
    /*background-color: inherit;*/
    font-weight: bold;
    color: #313a46
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #3984d1;
    color: #fff
}

.select2-container .select2-selection--multiple {
    min-height: calc(2.2125rem + 2px);
    border: 1px solid #ced4da!important
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 1px 10px
}

.select2-container .select2-selection--multiple .select2-search__field {
    border: 0
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #3984d1;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px;
    margin-top: 6px
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      saveToolbar     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.bg-admin--saveToolbar {
    background: #eaecf1;
    border-top: 1px solid #d2d5dc;
}


.form-tulipan .input-group-text {
    padding: .45rem .45rem;
}
.form-tulipan .tulipan-daterange input {
    width: 200px;
}

.bg-tulipan-gray {
    background: #f6f6f6;
}

.bg-order--header {
    /*background-color: #e6f0f3;*/
    background-image: linear-gradient(#e6f0f3, #ffffff);
}
.striped>div:nth-of-type(even) .bg-order--header {
    background-image: linear-gradient(#e9eaed, #ffffff);
}

.order--gray {
    color: #dee2e6;
}
.table-inventory-edit {
    background: #f6f6f6;
}

.table-inventory-edit label {
    font-weight: normal;
}
.table-inventory-edit thead th {
    border-top-color: #f6f6f6;
    border-bottom-width: 1px;
}
.border-success  {
    background-color: #c6f3e9;
    border-left: 12px solid;
}
.border-danger {
    border-left: 12px solid;
}

.border--recipient {
    border-left: 5px solid #dee2e6;
}

.active span {
    /*color: inherit !important;*/
}



.text-gray {
    color: #666c75;
}

/*.text-muted {*/
    /*color: #79858c !important;*/
/*}*/



/* remove the spinner */
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners input::-webkit-outer-spin-button,
.no-spinners input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.dropdown .dropdown-menu i {
    margin-right: .5rem;
}

.cart-item {
    border-bottom: 1px solid #dee2e6;
}

.cart-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.cart-item:last-of-type {
    border-bottom: none;
}

.cart-item-img {
    max-width: 80px;
}

.badge--missing {
    text-transform: uppercase;
    font-style: italic;
    /*font-size: .7rem;*/
}

.card .card--infoCard i {
    color: #79858c;
}

.card .card--infoCard h6 {
    color: #79858c;
    text-transform: uppercase;
    margin-top: 0;
}

.card .card--infoCard h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.orderTable tbody tr {
    height: 120px;
}
.orderTable.table th,
.orderTable.table td {
    border-top: 1px solid #c4cdd5;
}
/*.orderTable .badge {*/
    /*font-size: 90%;*/
/*}*/
.overlay-cell {
    position: relative;
    margin: -.75rem;
    padding: .75rem;
    width: 100%;
    height: 100%;
}
.overlay-badge {
    color: #fff;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: 0;
}

.overlay-badge.primary {
    border-right: 20px solid #876EBD;
}
.overlay-badge.success {
    border-right: 20px solid #00aa5b;
}
.overlay-badge.warning {
    border-right: 20px solid #ffc107;
}
.overlay-badge.danger {
    border-right: 20px solid #dc3545;
}
.overlay-badge.info {
    border-right: 20px solid #008CDE;
}
.overlay-badge.light {
    border-right: 20px solid #eee;
}
.overlay-badge.dark {
    border-right: 20px solid #343a40;
}



.orderDetail .card h3,
.orderDetail .card h4,
.orderDetail .card h5 {
    /*text-transform: uppercase;*/
    letter-spacing: 0.02rem;
}

.toll-free-box:first-of-type>i {
    position: absolute;
    left: 0;
    bottom: -15px;
    font-size: 4rem;
    opacity: .4;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.cartItem-productImage {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.cartItem-quantityBadge {
    position: relative;
    top: -35px;
    right: 20px;
    /* bottom: 0; */
    /* left: 0; */
}

.cart-item-quantity-badge  {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 8rem; */
    /* height: 8rem; */
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid transparent;
    /* background-color: #f5f5f5; */
}

.cart-item-quantity-badge img {
    font-family: Font Awesome\ 5 Free;
    content: "\f058";
    position: absolute;
    top: -0.4rem;
    right: -.4rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    font-variant: normal;
    color: #00aa5b;
    /* color: transparent; */
    text-rendering: auto;
    line-height: 1;
    /* opacity: 0; */
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid #ced4da; */
}


/* ============= Order listing ============= */

.order-message {
    display: block;
}
.order-message cite {
    margin-left: 0.25rem;
}

.order-message::before {
    font-family: Font Awesome\ 5 Free;
    content: "\f0e0";
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: #dee2e6;
    position: relative;
    padding: 0;
    top: 5px;
}

/* ============= Daterange Picker ============= */

.daterangepicker {
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important
}

.daterangepicker .calendar-table table {
    border-spacing: 0.2rem;
    border-collapse: separate;
}

.daterangepicker td.start-date.end-date,
.daterangepicker td.start-date,
.daterangepicker td.end-date {
    border-radius: 0;
    color: #fff;
}

.daterangepicker td.in-range {
    background-color: #daecfb;
}

.daterangepicker td.off,
.daterangepicker td.off.end-date,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date {
    background-color: #f4f4f5;
    border-color: #e5e8ea;
}
td.off {
    font-size: 0.7rem !important;
}
td.available,
td.in-range {
    background-color: #f4f4f5;
    border: 1px solid #e5e8ea !important;
    /*font-size: 0.75rem !important;*/
    text-align: right !important;
}

.daterangepicker .calendar-table td,
.daterangepicker .calendar-table th {
    line-height: initial;
    border-radius: 0;
    border: none;
}



.daterangepicker td.active,
.daterangepicker td.active {
    color: #fff;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: #c1def7;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #3984d1;
}


/* ============= Utils ============= */

.text-xs {
    font-size: .7rem
}

.text-sm {
    font-size: .7875rem
}

.text-md {
    font-size: .875rem;
}

.text-lg {
    font-size: 1rem
}

.text-xl {
    font-size: 1.125rem
}

@media (min-width:576px) {
    .text-xs {
        font-size: .7rem
    }

    .text-sm {
        font-size: .7875rem
    }

    .text-md {
        font-size: .9rem;
    }

    .text-lg {
        font-size: 1.125rem
    }

    .text-xl {
        font-size: 1.875rem
    }
}

.h-10px { max-height: 10px; }
.h-15px { max-height: 15px; }
.h-20px { max-height: 20px; }
.h-25px { max-height: 25px; }
.h-50px { max-height: 50px; }
.h-25 { max-height: 25%; }
.h-50 { max-height: 50%; }
.h-75 { max-height: 75%; }


/* ============= Boostrap Overwrite ============= */

.initialism { display: none; }

.form-control {
    padding: .25rem .45rem;
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #dee2e6;
}

@media (max-width:767.98px) {
    .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link {
        font-size: 0.65rem;
        padding: 0.25rem 0;
    }
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #f6f6f6;
    border-bottom-color: #f6f6f6;
}

/* ============= No zoom in on input fields ============= */

@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}