@charset "UTF-8";

body {
    /*background-color: #eeeeee;*/
    /*background-color: #F5F7FA;*/

    /*background-color: #f0f3f5;*/
    /*font-size: .9rem;*/
    height: 100vh;
    /*font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;*/
}

.admin h1,
.admin h2,
.admin h3,
.admin h4,
.admin h5,
.admin h6,
.admin .h1,
.admin .h2,
.admin .h3,
.admin .h4,
.admin .h5,
.admin .h6 {
    color: inherit;
}



.grid-preview {

}
.grid-shadow {
    -webkit-box-shadow: inset -13px 0 9px -9px rgba(212,212,212,1);
    -moz-box-shadow: inset -13px 0 9px -9px rgba(212,212,212,1);
    box-shadow: inset -13px 0 9px -9px rgba(212,212,212,1);
}
.grid-scroll {
    overflow-x: scroll;
}
.grid-template-container {
    --variant-columns: 1;
    display: grid;
    grid-template-columns: repeat(var(--variant-columns), 12.133rem) repeat(1, minmax(7.133rem, auto)) repeat(1, 7.133rem) 9.133rem 7.133rem 7.133rem;
    grid-gap: .4rem;
    -ms-flex-align: center;
    align-items: center;
}
.grid-cell {
    word-wrap: break-word;
    /*word-break: break-word;*/
    /*overflow-wrap: break-word;*/
    display: block;
}
.grid-scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.grid-scroll::-webkit-scrollbar-thumb {
    background: #c4cdd5;
    border-radius: 10px;
}

.grid-scroll::-webkit-scrollbar-track {
    background: #f0f3f5;
    border-radius: 10px;
}

.grid-scroll ul,
.grid-scroll ul li {
    padding: 0;
    list-style: none;
    max-width: 100%;
    overflow: visible;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    z-index: 1;
}

.grid-scroll ul li {
    min-width: 100%;

    display: flex;
    align-items: flex-start;
    position: relative;
    outline: none;
}

.grid-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30;
}

.variant-item {
    position: relative;
    outline: none;
    border-top: 1px solid #e5e5e5;
    /*background-color: #f4f4f5;*/
}

.variant-item:hover {
    /*background-image: linear-gradient(to bottom, #f9fafb, #f4f4f5);*/
}
.visual-picker-sm .visual-picker-figure {
    min-height: calc(2*.5rem + 1.5rem + 2px) !important;
}


.w-xl {
    width: 100%;
}
.w-lg {
    width: 100%;
}

/*@media (max-width: 767.98px) {*/
@media (max-width: 575.98px) {
    .w-lg {
        width: calc(960px - 20px);
    }
    .w-xl {
        width: 1140px;
    }
}

.overflow-x-scroll {
    overflow-x: scroll;
}
@media (min-width:576px) {
    .overflow-x-sm-hidden {
        -ms-overflow-x: hidden !important;
        overflow-x: hidden !important;
    }
}

@media (min-width:768px) {
    .overflow-x-md-hidden {
        -ms-overflow-x: hidden !important;
        overflow-x: hidden !important;
    }
}

@media (min-width:992px) {
    .overflow-x-lg-hidden {
        -ms-overflow-x: hidden !important;
        overflow-x: hidden !important;
    }
}

@media (min-width:1200px) {
    .overflow-x-xl-hidden {
        -ms-overflow-x: hidden !important;
        overflow-x: hidden !important;
    }
}


.topnav {
    background: linear-gradient(to right, #283b5d, #173463);

    /*background: linear-gradient(to right, #008CDE, #005DA8);*/
    background-color: #008CDE;
}

/*.navbar-custom {*/
/*    !*padding: 0 0 0 30px;*!*/
/*    !*background-color: #fff;*!*/
/*    !*-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);*!*/
/*    !*box-shadow: 0 0 35px 0 rgba(154,161,171,.15);*!*/
/*    !*margin: -5px -20px 0;*!*/
/*    !*min-height: 70px;*!*/
/*    display: flex;*/
/*    align-items: stretch;*/
/*    padding: 0;*/
/*    margin-right: -15px;*/
/*}*/

/*.nav-user {*/
/*    !*padding: 5px 20px 5px 57px!important;*!*/
/*    !*padding: calc(32px / 2) 20px calc(32px / 2) 57px!important;*!*/
/*    padding: 0 .5rem;*/
/*    text-align: left!important;*/
/*    position: relative;*/
/*    background-color: #3b96d4;*/
/*    !* border: 1px solid #f6f6f6; *!*/
/*    border-width: 0 1px;*/
/*    !*min-height: 70px;*!*/
/*    color: rgba(255, 255, 255, .5);*/

/*    height: 100%;*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.nav-user span {*/
/*    display: inline-block;*/
/*}*/
/*.nav-user .account-user-avatar {*/
/*    !*position: absolute;*!*/
/*    !*top: 10px;*!*/
/*    !*left: 15px;*!*/
/*    display: inline-block;*/
/*    margin-right: .5rem;*/
/*}*/
/*.nav-user .account-user-avatar img {*/
/*    height: 32px;*/
/*    width: 32px;*/
/*}*/
/*.nav-user .account-user-detail {*/
/*    display: none;*/
/*}*/

/*@media (min-width: 576px) {*/
/*    .nav-user .account-user-detail {*/
/*        display: inline-block;*/
/*        margin-right: .5rem;*/
/*    }*/
/*}*/

/*.nav-user .account-user-name {*/
/*    display: block;*/
/*    font-weight: 600;*/
/*    margin-top: 2px;*/
/*}*/
/*.nav-user .account-position {*/
/*    display: block;*/
/*    font-size: 12px;*/
/*    margin-top: -5px;*/
/*}*/

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.navbar-custom .topbar-right-menu li {
    float: left;
}




/*.navbar--toolbar .nav-item .btn {*/
/*    margin-left: -1rem;*/
/*}*/


.notification-list {
    margin-left: 0;
}

.page-title, .page-title-box .page-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    /*color: #212b36;*/
}

/*.btn {*/
/*    font-size: .9rem;*/
/*    font-weight: initial;*/
/*    text-transform: none;*/
/*    letter-spacing: 0;*/
/*}*/

.btn-sm i {
    margin-right: .25rem;
}

.btn-input-area {
    position: absolute;
    right: calc(.45rem);
    /*background: none;*/
    border: none;
    outline: none;
    cursor: pointer;
    top: calc(.45rem);
}
.btn-input-area i {
    margin-right: 0;
}
.input-area {
    padding-right: 3.25rem !important;
}

/*.input--area-group {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex: 1;*/
/*}*/

/*.input--area-addon {*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    height: calc(2*.3125rem + 1.5rem);*/
/*    width: calc(35px + 2*.45rem);*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    color: #868b96;*/
/*    !*background: antiquewhite;*!*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex: 1 1 auto;*/
/*    padding-left: .45rem;*/
/*    padding-right: .45rem;*/
/*}*/
/*.input--area-text {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex: 1 1 auto;*/
/*}*/
/*.input--area-prepend {*/
/*    left: 1px;*/
/*    border-top-right-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/
/*.input--area-append {*/
/*    right: 1px;*/
/*    border-top-left-radius: 0;*/
/*    border-bottom-left-radius: 0;*/
/*}*/

/*.input--area-group input {*/
/*    padding-right: calc(35px + .25rem) !important;*/
/*}*/

/*!* All input, textarea immediately after -prepend class *!*/
/*.input--area-group .input--area-prepend+input,*/
/*.input--area-group .input--area-prepend+textarea {*/
/*    padding-left: calc(35px + 2*.45rem);*/
/*    padding-right: .45rem;*/
/*}*/

/*.input--area-addon i {*/
/*    margin-right: 0;*/
/*}*/

.form-control-withSelect {
    background: linear-gradient(to bottom, #f9fafb, #f4f4f5);
    padding: 0;
    height: inherit;
}
.form-control-withSelect input {
    border: none;
}
.form-control-withSelect .custom-select {
    border: none;
    width: 100%;
    margin: -1px 0;
}


/*input[data-switch] {*/
/*    display: none*/
/*}*/

/*input[data-switch]+label {*/
/*    width: 60px;*/
/*    height: 24px;*/
/*    background-color: #e1e1e1;*/
/*    background-image: none;*/
/*    border-radius: 2rem;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*    position: relative;*/
/*    -webkit-transition: all .1s ease-in-out;*/
/*    transition: all .1s ease-in-out*/
/*}*/

/*input[data-switch]+label:before {*/
/*    color: #313a46;*/
/*    content: attr(data-off-label);*/
/*    display: block;*/
/*    font-family: inherit;*/
/*    font-weight: 600;*/
/*    font-size: .75rem;*/
/*    line-height: 24px;*/
/*    position: absolute;*/
/*    right: 3px;*/
/*    margin: 0 .21667rem;*/
/*    top: 0;*/
/*    text-align: center;*/
/*    min-width: 1.66667rem;*/
/*    overflow: hidden;*/
/*    -webkit-transition: all .1s ease-in-out;*/
/*    transition: all .1s ease-in-out*/
/*}*/

/*input[data-switch]+label:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 4px;*/
/*    background-color: #adb5bd;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    border-radius: 2rem;*/
/*    height: 18px;*/
/*    width: 18px;*/
/*    top: 3px;*/
/*    -webkit-transition: all .1s ease-in-out;*/
/*    transition: all .1s ease-in-out*/
/*}*/

/*input[data-switch]:checked+label {*/
/*    background-color: #3984d1*/
/*}*/

/*input[data-switch]:checked+label:before {*/
/*    color: #fff;*/
/*    content: attr(data-on-label);*/
/*    right: auto;*/
/*    left: 4px*/
/*}*/

/*input[data-switch]:checked+label:after {*/
/*    left: 38px;*/
/*    background-color: #f6f6f6*/
/*}*/

/*input[data-switch=bool]+label {*/
/*    background-color: #dc3545*/
/*}*/

/*input[data-switch=bool]+label:before,*/
/*input[data-switch=bool]:checked+label:before {*/
/*    color: #fff!important*/
/*}*/

/*input[data-switch=bool]+label:after {*/
/*    background-color: #f6f6f6*/
/*}*/

/*input[data-switch=primary]:checked+label {*/
/*    background-color: #876EBD*/
/*}*/

/*input[data-switch=secondary]:checked+label {*/
/*    background-color: #e9eced*/
/*}*/

/*input[data-switch=success]:checked+label {*/
/*    background-color: #00aa5b*/
/*}*/

/*input[data-switch=info]:checked+label {*/
/*    background-color: #008CDE*/
/*}*/

/*input[data-switch=warning]:checked+label {*/
/*    background-color: #ffc107*/
/*}*/

/*input[data-switch=danger]:checked+label {*/
/*    background-color: #dc3545*/
/*}*/

/*input[data-switch=light]:checked+label {*/
/*    background-color: #eee*/
/*}*/

/*input[data-switch=dark]:checked+label {*/
/*    background-color: #343a40*/
/*}*/


.entry {
    font-size: 1rem;
    line-height: 1.5;
}

.entry-lg {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
}

.card .alert,
.alert-card {
    margin: 0 -1rem;
    padding: 1rem 1rem;
    border-radius: 0;
}

/*.badge {*/
/*    display: inline-block;*/
/*    font-size: 80%;*/
/*    line-height: 90%;*/
/*    padding: .25rem .5rem 0.2rem .5rem;*/
/*    font-weight: 400;*/
/*    text-align: center;*/
/*    white-space: nowrap;*/
/*    vertical-align: baseline;*/
/*    border-radius: 1rem;*/
/*    text-transform: none;*/
/*    font-style: normal;*/
/*    !*border: 1px dashed #627280;*!*/
/*    letter-spacing: 0.02rem;*/
/*    border: 2px solid #fff;*/
/*}*/
/*.badge-primary {*/
/*    color: inherit;*/
/*    background-color: #d1bff8;*/
/*}*/
/*.badge-secondary {*/
/*    color: inherit;*/
/*    background-color: #eee;*/
/*}*/
/*.badge-success {*/
/*    color: inherit;*/
/*    background-color: #bbe5b3;*/
/*}*/
/*.badge-danger {*/
/*    color: inherit;*/
/*    background-color: #FFC8C9;*/
/*}*/
/*.badge-warning {*/
/*    color: inherit;*/
/*    background-color: #FAF1CB;*/
/*}*/
/*.badge-info {*/
/*    color: inherit;*/
/*    background-color: #88c5ef;*/
/*}*/
/*.badge-light {*/
/*    color: inherit;*/
/*    background-color: #eee;*/
/*}*/
.badge-lg {
    font-size: inherit;
}
.badge-missing,
.badge--missing {
    color: initial;
    text-transform: uppercase;
    font-style: italic;
    font-size: 80%;
    line-height: 90%;
}

.badge--quantity-wrapper {
    position: relative;
    /*margin-right: .5rem;*/
}

.badge--quantity {
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 90%;
    font-variant: normal;
    /*color: white;*/
    text-rendering: auto;
    line-height: 1;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    /*background-color: #fff;*/
    border-radius: 8px;
    border: 1px solid #c4cdd5;
    padding: .25rem;
    min-width: 1.5rem;
    text-align: center;
    z-index: 2;
}

.bg-primary-lighten {
    color: inherit;
    background-color: #d1bff8 !important;
}
.bg-secondary-lighten {
    color: inherit;
    background-color: #eee !important;
}
.bg-success-lighten {
    color: inherit;
    background-color: #bbe5b3 !important;
}
.bg-danger-lighten {
    color: inherit;
    background-color: #FFC8C9 !important;
}
.bg-warning-lighten {
    color: inherit;
    background-color: #FAF1CB !important;
}
.bg-info-lighten {
    color: inherit;
    background-color: #88c5ef !important;
}
.bg-light-lighten {
    color: inherit;
    background-color: #eee !important;
}

.ui-pnotify-text {
    font-size: initial;
    line-height: initial;
}

.quickinfo-title {
    display: inline-block;
    /*color: #637381;*/
    font-weight: normal;
    padding-bottom: .1rem;
    border-bottom: 2px dotted #adb5bd;
    margin-bottom: .5rem;
}
.quickinfo-highlight {
    display: block;
    font-weight: bold;

}

.footer {
    border-top: 1px solid rgba(152, 166, 173, .2);
    bottom: 0;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0;
    color: #98a6ad;
    left: 250px
}
.footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s
}

.footer .footer-links a:hover {
    color: #313a46
}

.footer .footer-links a:first-of-type {
    margin-left: 0
}

@media (max-width:767.98px) {
    .footer {
        left: 0!important;
        text-align: center
    }
}

.footer-alt {
    left: 0;
    border: none;
    text-align: center
}

body[data-layout=topnav] .footer {
    left: 0!important;
    padding: 19px 0 20px
}

body[data-layout=topnav].boxed-layout .footer {
    max-width: 1300px
}

body.boxed-layout .footer {
    border: none;
    margin: 0 auto;
    background-color: #E9EAED;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    max-width: calc(1300px - 250px)
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      Order Detail Page     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

/*.admin-card-title {*/
/*    display: inline-block;*/
/*    font-weight: 700;*/
/*    margin-right: .5rem;*/
/*}*/

/*.admin-card-topright {*/
/*    display: inline-block;*/
/*    !*margin-top: .5rem;*!*/
/*    !*margin-left: .5rem;*!*/
/*}*/
/*@media (min-width: 576px) {*/
/*    .admin-card-topright {*/
/*        float: right;*/
/*        margin-top: initial;*/
/*    }*/
/*}*/
.admin-card-right {
    float: right;
    display: inline-block;
    margin-top: initial;
}

.cart-item-link, .slide-checkout--item .cart-item-link {
    color: #008cde;
    font-weight: normal;
}

.orderDetail--sidebar .card.card-sidebar {
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom: 1px solid #dee2e6 !important;
    box-shadow: none !important;
}
.orderDetail--sidebar .card-body.card-sidebar {
    padding: .25rem .25rem 1.25rem .25rem;
}
/*.orderDetail--sidebar .card {*/
    /*-webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
    /*box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
/*}*/


.orderTable tbody tr {
    height: 120px;
}
.orderTable.table th,
.orderTable.table td {
    border-top: 1px solid #c4cdd5;
}
/*.orderTable .badge {*/
/*font-size: 90%;*/
/*}*/
.orderDetail .card h3,
.orderDetail .card h4,
.orderDetail .card h5 {
    /*text-transform: uppercase;*/
    letter-spacing: 0.02rem;
}

.order.order-list .order-billingInfo,
.order.order-list .order-shippingInfo,
.order.order-list .order-deliveryInfo {
    font-size: .7875rem;
    line-height: 1.1rem;
    /*color: #869196;*/
}



/*.timeline-alt {*/
/*    !*padding: 20px 0;*!*/
/*    position: relative;*/
/*}*/

/*.timeline-alt:before {*/
/*    background-color: #e1e1e1;*/
/*    bottom: 10px;*/
/*    content: "";*/
/*    !*left: 9px;*!*/
/*    left: calc(1.25rem + 9px);*/
/*    position: absolute;*/
/*    !*top: 0;*!*/
/*    top: 1.25rem;*/
/*    width: 2px;*/
/*    z-index: 0*/
/*}*/

/*.timeline-alt .timeline-item {*/
/*    position: relative;*/
/*    padding: 1.25rem;*/
/*    !*margin-bottom: .25rem;*!*/
/*    border-radius: 4px;*/
/*}*/
/*.timeline-alt .timeline-item.timeline-comment {*/
/*    background-color: #ffffff;*/
/*    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
/*    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);*/
/*}*/
/*.timeline-alt .timeline-item:not(.timeline-comment):last-of-type {*/
/*    padding-bottom: 0;*/
/*}*/

/*.timeline-alt .timeline-item .timeline-icon {*/
/*    float: left;*/
/*    height: 20px;*/
/*    width: 20px;*/
/*    border-radius: 50%;*/
/*    border: 2px solid transparent;*/
/*    font-size: 12px;*/
/*    text-align: center;*/
/*    line-height: 16px;*/
/*    background-color: #fff*/
/*}*/
/*.timeline-alt .timeline-item.timeline-comment .timeline-icon,*/
/*.timeline-alt .timeline-item.timeline-input .timeline-icon {*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    margin-left: -10px;*/
/*}*/

/*.timeline-alt .timeline-item .timeline-item-info {*/
/*    margin-left: 40px*/
/*}*/

/*.timeline-alt .timeline-item.timeline-input .timeline-item-info {*/
/*    !*margin-top: 5px;*!*/
/*}*/

.btn-link-timeline {
    color: inherit;
}
.btn-link-timeline:hover,
.btn-link-timeline:focus,
.btn-link-timeline:active {
    color: inherit;
    text-decoration: underline;
}

.btn-link-timeline > .timeline-item {
    background-color: #fff;
}

/**** MODAL ****************************************************************************/

/*.modal-slider.modal-dialog {*/
/*    margin: 0;*/
/*    margin-left: auto;*/
/*    height: 100%*/
/*}*/
/*.modal.fade .modal-slider.modal-dialog,*/
/*.modal.fade .modal-slider.modal-dialog.modal-sm,*/
/*.modal.fade .modal-slider.modal-dialog.modal-lg,*/
/*.modal.fade .modal-slider.modal-dialog.modal-xl {*/
/*    -webkit-transform: none;*/
/*    transform: none;*/
/*    transition: right .2s ease-out;*/
/*}*/

/*.modal-slider .modal-content {*/
/*    position: absolute;*/
/*    border-radius: 0;*/
/*    height: 100%;*/
/*    max-height: 100%;*/
/*}*/
/*.modal-slider .modal-header {*/
/*    border-top-left-radius: 0;*/
/*    border-top-right-radius: 0;*/
/*}*/
/*.modal-slider .modal-footer {*/
/*    justify-content: flex-start;*/
/*}*/
/*@media (min-width: 576px) {*/
/*    .modal-slider.modal-dialog {*/
/*        max-width: 550px;*/
/*        right: -550px;*/
/*    }*/
/*    .modal.fade .modal-slider.modal-dialog {*/
/*        right: -550px;*/
/*    }*/
/*    .modal-slider.modal-dialog.modal-sm {*/
/*        max-width: 380px;*/
/*        right: -380px;*/
/*    }*/
/*    .modal.fade .modal-slider.modal-dialog.modal-sm {*/
/*        right: -380px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .modal-slider.modal-dialog.modal-lg {*/
/*        max-width: 800px !important;*/
/*        right: -800px;*/
/*    }*/
/*    .modal.fade .modal-slider.modal-dialog.modal-lg {*/
/*        right: -800px;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .modal-slider.modal-dialog.modal-xl {*/
/*        max-width: 1000px !important;*/
/*        right: -1000px;*/
/*    }*/
/*    .modal.fade .modal-slider.modal-dialog.modal-xl {*/
/*        right: -1000px;*/
/*    }*/
/*}*/

/*.modal.show .modal-slider.modal-dialog,*/
/*.modal.show .modal-slider.modal-dialog.modal-sm,*/
/*.modal.show .modal-slider.modal-dialog.modal-lg,*/
/*.modal.show .modal-slider.modal-dialog.modal-xl {*/
/*    -webkit-transform: none;*/
/*    transform: none;*/
/*    transition: right .2s ease-out;*/
/*    right: 0;*/
/*}*/
.modal-slider.modal-dialog-scrollable {
    max-height: 100%;
}

/*.card-body.card-sidebar:not(:last-child) {*/
/*    border-bottom: 1px solid #dee2e6 !important;*/
/*    border-bottom-left-radius: 0;*/
/*    border-bottom-right-radius: 0;*/
/*}*/


/*.btn-link-secondary-editTools,*/
/*.btn-link-secondary {*/
/*    text-decoration: none;*/
/*    letter-spacing: 0;*/
/*    color: #637381;*/
/*}*/
/*.btn-link-secondary-editTools:hover,*/
/*.btn-link-secondary:hover,*/
/*.btn-link-secondary:focus {*/
/*    !*color: #868e96;*!*/
/*    !*text-decoration: underline;*!*/
/*    color: #212b36;*/
/*    background-color: transparent;*/
/*    border-color: transparent*/
/*}*/

/*.btn-link-secondary-editTools:focus,*/
/*.btn-link-secondary-editTools.focus,*/
/*.btn-link-secondary:focus,*/
/*.btn-link-secondary.focus {*/
/*    !*color: #212b36;*!*/
/*    border-color: transparent;*/
/*    box-shadow: none*/
/*}*/

/*.btn-link-secondary-editTools:disabled,*/
/*.btn-link-secondary-editTools.disabled,*/
/*.btn-link-secondary:disabled,*/
/*.btn-link-secondary.disabled {*/
/*    color: #868e96;*/
/*    opacity: .7;*/
/*    pointer-events: none*/
/*}*/


.btn-link-dark {
    text-decoration: none;
    letter-spacing: 0;
    color: #212b36;
}
.btn-link-dark:hover {
    color: #637381;
    background-color: transparent;
    border-color: transparent
}

.btn-link-dark:focus,
.btn-link-dark.focus {
    border-color: transparent;
    box-shadow: none
}

.btn-link-dark:disabled,
.btn-link-dark.disabled {
    color: #868e96;
    opacity: .7;
    pointer-events: none
}


/*.fa, .far, .fas {*/
/*    font-family: "Font Awesome 5 Free";*/
/*    margin-right: .5rem;*/
/*}*/

.input-group-text i {
    margin-right: 0;
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      Translation Page     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

/*.translation {*/
/*    display: flex;*/
/*    position: relative;*/
/*    align-items: center;*/
/*    width: calc(100% - 20px);*/
/*    min-height: calc(2*.3125rem + 1.5rem + 2px);*/
/*    !*height: 100%;*!*/
/*    padding: .3125rem .45rem;*/
/*    background-color: #fafbfc;*/
/*    border: 1px dashed #c4cdd5;*/
/*    border-radius: 4px;*/
/*    color: #86949e;*/
/*    line-height: 1.5rem;*/
/*}*/

/*.translation:after {*/
/*    position: absolute;*/
/*    font-family: Font Awesome\ 5 Free;*/
/*    content: "\f054";*/
/*    width: 1.325rem;*/
/*    height: 100%;*/
/*    top: 0.25rem;*/
/*    right: -2.25rem;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    display: inline-block;*/
/*    font-style: normal;*/
/*    font-weight: 900;*/
/*    font-size: inherit;*/
/*    font-variant: normal;*/
/*    color: #c4cdd5;*/
/*    text-rendering: auto;*/
/*    opacity: 1;*/
/*    background-color: white;*/
/*}*/

/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      Product Edit Page     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.product {
    margin-bottom: 20px;
}

.product-tag {
    /*display: inline-block;*/
    font-size: 80%;
    line-height: 90%;
    /*padding: .25rem .5rem 0.2em .5rem;*/
    margin: 0 .5rem .5rem 0;
    font-weight: 400;
    text-align: center;
    vertical-align: baseline;
    border-radius: 1rem;
    text-transform: none;
    font-style: normal;
    /*letter-spacing: 0.02rem;*/
    /*background-color: #eee;*/
    color: #637281;
}

.product-image {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*border: 1px solid #ced4da;*/
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tile-link {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30;
}

.overlay--productCover {
    background: #008CDE;
    color: #fff;
    padding: .2rem;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: 0rem;
}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      select2     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.select2-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}

.select2-container .select2-selection--single {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff
}

.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__placeholder {
    float: right
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: 0 0;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: #fff
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(#eee));
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#ccc));
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: 0 0;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
    background-image: linear-gradient(to bottom, #fff 0, #eee 50%);
    background-repeat: repeat-x
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#fff));
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x
}

.select2-container--classic .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
    float: right;
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}

/*************************************************************************************************/
/*************************************************************************************************/

.select2-container {
    width: 100%!important
}

.select2-container .select2-selection--single {
    border: 1px solid #ced4da;
    height: calc(2.2125rem + 2px);
    outline: 0
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #b2c5d3 transparent transparent transparent;
    border-width: 6px 6px 0 6px
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #b2c5d3 transparent!important;
    border-width: 0 6px 6px 6px!important
}

.select2-results__option {
    padding: 6px 12px
}

.select2-dropdown {
    border: 1px solid #d3dee6;
    -webkit-box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15)
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #E9EAED;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #d3dee6;
    outline: 0
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3984d1
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f6f6f6;
    /*background-color: inherit;*/
    font-weight: bold;
    color: #313a46
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #3984d1;
    color: #fff
}

.select2-container .select2-selection--multiple {
    min-height: calc(2.2125rem + 2px);
    border: 1px solid #ced4da!important
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 1px 10px
}

.select2-container .select2-selection--multiple .select2-search__field {
    border: 0
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #3984d1;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0 7px;
    margin-top: 6px
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    margin-right: 5px
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/**/
/*      saveToolbar     */
/**/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

.bg-admin--saveToolbar {
    background: #eaecf1;
    border-top: 1px solid #d2d5dc;
}


/*.form-tulipan .input-group-text {*/
/*    padding: .45rem .45rem;*/
/*}*/
/*.form-tulipan .tulipan-daterange input {*/
/*    width: 200px;*/
/*}*/

.bg-tulipan-gray {
    background: #f6f6f6;
}

.bg-order--header {
    /*background-color: #e6f0f3;*/
    background-image: linear-gradient(#e6f0f3, #ffffff);
}
.striped>div:nth-of-type(even) .bg-order--header {
    background-image: linear-gradient(#e9eaed, #ffffff);
}

.order--gray {
    color: #dee2e6;
}
.table-inventory-edit {
    background: #f6f6f6;
}

.table-inventory-edit label {
    font-weight: normal;
}
.table-inventory-edit thead th {
    border-top-color: #f6f6f6;
    border-bottom-width: 1px;
}
.border-success  {
    background-color: #c6f3e9;
    border-left: 12px solid;
}
.border-danger {
    border-left: 12px solid;
}

.border--recipient {
    border-left: 5px solid #dee2e6;
}

.active span {
    /*color: inherit !important;*/
}



.text-gray {
    color: #666c75;
}

/*.text-muted {*/
    /*color: #79858c !important;*/
/*}*/



/* remove the spinner */
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners input::-webkit-outer-spin-button,
.no-spinners input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.dropdown .dropdown-menu i {
    margin-right: .5rem;
}

/*.cart-item {*/
/*    border-bottom: 1px solid #dee2e6;*/
/*}*/

/*.cart-item {*/
/*    padding-top: 1rem;*/
/*    padding-bottom: 1rem;*/
/*    border-bottom: 1px solid #dee2e6;*/
/*}*/

/*.cart-item:last-of-type {*/
/*    border-bottom: none;*/
/*}*/

/*.cart-item-img {*/
/*    max-width: 80px;*/
/*}*/

.card .card--infoCard i {
    color: #79858c;
}

.card .card--infoCard h6 {
    color: #79858c;
    text-transform: uppercase;
    margin-top: 0;
}

.card .card--infoCard h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}



.overlay-container {
    position: relative;
    /*margin: -.75rem;*/
    /*padding: .75rem;*/
    width: 100%;
    height: 100%;
}
.overlay-container .overlay-cell {
    position: absolute;
    /*top: 50%;*/
    width: 100%;
    height: 100%;
    color: #fff;
}
.overlay-cell .overlay-content {
    display: flex;
    align-items: center;
    height: 100%;
}
tr .overlay-cell .overlay-content {
    display: none;
}
tr:hover .overlay-cell .overlay-content {
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
}


.overlay-badge {
    position: absolute;
    right: 0;
    color: #fff;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

/*.overlay-badge.primary {*/
/*    border-right: 20px solid #876EBD;*/
/*}*/
/*.overlay-badge.success {*/
/*    border-right: 20px solid #00aa5b;*/
/*}*/
/*.overlay-badge.warning {*/
/*    border-right: 20px solid #ffc107;*/
/*}*/
/*.overlay-badge.danger {*/
/*    border-right: 20px solid #dc3545;*/
/*}*/
/*.overlay-badge.info {*/
/*    border-right: 20px solid #008CDE;*/
/*}*/
/*.overlay-badge.light {*/
/*    border-right: 20px solid #eee;*/
/*}*/
/*.overlay-badge.dark {*/
/*    border-right: 20px solid #343a40;*/
/*}*/





.toll-free-box:first-of-type>i {
    position: absolute;
    left: 0;
    bottom: -15px;
    font-size: 4rem;
    opacity: .4;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.cartItem-productImage {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.cartItem-quantityBadge {
    position: relative;
    top: -35px;
    right: 20px;
    /* bottom: 0; */
    /* left: 0; */
}

.cart-item-quantity-badge1  {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 8rem; */
    /* height: 8rem; */
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid transparent;
    /* background-color: #f5f5f5; */
}

.cart-item-quantity-badge,
.cart-item-quantity-badge img {
    font-family: Font Awesome\ 5 Free;
    content: "\f058";
    position: absolute;
    top: -0.4rem;
    right: -.4rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 1.2rem;
    font-variant: normal;
    color: #00aa5b;
    /* color: transparent; */
    text-rendering: auto;
    line-height: 1;
    /* opacity: 0; */
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid #ced4da; */
}

/* ============= Order listing ============= */

.order-message {
    display: block;
}
.order-message cite {
    margin-left: 0.25rem;
}

.order-message::before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f0e0";
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: #dee2e6;
    position: relative;
    padding: 0;
    top: 5px;
}



/* ============= Utils ============= */

.text-xs {
    font-size: .7rem;
}

.text-sm {
    font-size: .7875rem;
}

.text-md {
    font-size: .875rem;
}

.text-lg {
    font-size: 1rem;
}

.text-xl {
    font-size: 1.125rem;
}

@media (min-width:576px) {
    .text-xs {
        font-size: .7rem;
    }

    .text-sm {
        font-size: .7875rem;
    }

    .text-md {
        font-size: .9rem;
    }

    .text-lg {
        font-size: 1.125rem;
    }

    .text-xl {
        font-size: 1.875rem;
    }
}

.h-10px { max-height: 10px; }
.h-15px { max-height: 15px; }
.h-20px { max-height: 20px; }
.h-25px { max-height: 25px; }
.h-50px { max-height: 50px; }
.h-25 { max-height: 25%; }
.h-50 { max-height: 50%; }
.h-75 { max-height: 75%; }


/* ============= Boostrap Overwrite ============= */

.initialism { display: none; }


/*.nav-tabs .nav-item .nav-link, .nav-tabs .nav-link {*/
/*    border-color: #dee2e6 #dee2e6 #dee2e6;*/
/*}*/

@media (max-width:767.98px) {
    /*.nav-tabs .nav-item .nav-link, .nav-tabs .nav-link {*/
    /*    font-size: 0.65rem;*/
    /*    padding: 0.25rem 0;*/
    /*}*/
}

/*.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,*/
/*.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {*/
/*    background: #f6f6f6;*/
/*    border-bottom-color: #f6f6f6;*/
/*}*/

/* ============= No zoom in on input fields ============= */

@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}