{% extends 'admin/base_admin.html.twig' %}

{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
	Termék módosítása
{% endblock %}

{% block page_content %}

	<div class="col-lg-6">
		<div class="">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
				<h2>Termék módosítása</h2>
			</div>

			{% block AZUZENET %}
			{% for msg in app.session.flashBag.get('livSuccess') %}
				<div class="alert alert-success" role="alert">	{{ msg }} </div>
			{% endfor %}
			{% endblock %}
			<p> </p>
		</div>
		{{ include('/admin/product/_form.html.twig') }}
	</div>
	<div class="col-lg-6"></div>

{% endblock %}

