// Badge quantity

.badge-quantity-wrapper {
  position: relative;

  & .badge-quantity {
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 85%;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    border-radius: 2rem;
    border: 1px solid #c4cdd5;
    padding: .3rem .25rem .2rem .25rem;
    min-width: 1.5rem;
    text-align: center;
    z-index: 2;
  }
}