{# boltzaras/boltzaras_new.html.twig #}

{% extends 'boltzaras/boltzaras_layout_container.html.twig' %}

{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
	Új jelentés
{% endblock %}

{% block page_content %}

	<div class="col-lg-3"></div>

	<div class="col-lg-6">
		<h1 class="h3 font-weight-normal">Új jelentés</h1>
		<small class="form-text text-muted">
		  	Itt tudod elküldeni a napi zárásjelentést.
		</small>

		{% block AZUZENET %}
		{% for msg in app.session.flashBag.get('livSuccess') %}
			<div class="alert alert-success" role="alert">	{{ msg }} </div>
		{% endfor %}
		{% endblock %}
		<p> </p>

		{{ include('/boltzaras/_form.html.twig') }}
	</div>
	<div class="col-lg-3"></div>

{% endblock %}

